[2017-06-09 05:41] timneutkens opened #1 "Elasticsearch support"
Automatic installation of elasticsearch

[2017-06-09 12:04] timneutkens opened #2 "Magento2 driver doesn't handle signed static files"
When you have static sign enabled urls become: `/static/version<numbers>/path` which leads to a 404.

[2017-06-09 12:24] timneutkens opened #3 "xDebug"
Add xdebug on/off switch

[2017-06-09 13:39] timneutkens opened #4 "Remove brew versions and dupes taps. They're deprecated"

[2017-06-09 14:00] #4 closed, assigned to timneutkens

[2017-06-11 18:31] #3 closed, assigned to nobody

[2017-06-11 18:42] timneutkens opened #5 "mysql installation - password not set."

[2017-06-11 18:43] timneutkens opened #6 "gittower support"
Open closest git repository in tower2

[2017-06-11 18:44] timneutkens opened #7 "PHPstorm support"
Open closest git project in phpstorm

[2017-06-11 19:45] #7 closed, assigned to nobody

[2017-06-11 19:45] #6 closed, assigned to nobody

[2017-06-12 08:36] timneutkens opened #8 "Mailhog support"

[2017-06-12 08:40] #8 closed, assigned to nobody

[2017-06-12 09:05] timneutkens opened #9 "Copy ssh key"
`pbcopy ~/.ssh/id_rsa.pub`

[2017-06-12 09:07] #9 closed, assigned to nobody

[2017-06-14 15:24] #5 closed, assigned to timneutkens

[2017-06-14 16:06] #2 closed, assigned to nobody

[2017-06-15 06:50] #1 closed, assigned to timneutkens

[2017-06-22 14:04] Huvik opened #10 "Update readme"
Hey,
i wanted to try out valet-plus, but there is missing stuff in readme.

Problem with database:
* What is user and pass for database?
* How to import database without git repository? I can always do `mysql -u root -proot DBNAME < database.sql`

So far looking good keep it up! 🚀

[2017-06-22 14:36] timneutkens commented on #10
Added username and password and `valet db import dump.sql DNAME`. Fixed in release `0.1.2`

[2017-06-22 14:36] #10 closed

[2017-06-26 08:57] timneutkens opened #11 "Increase max_execution_time"
Can be added here https://github.com/weprovide/valet-plus/blob/master/cli/stubs/z-performance.ini

[2017-06-26 08:59] timneutkens commented on #11
Should be 300s (5minutes)

[2017-06-27 07:48] #11 closed

[2017-06-28 08:24] Xpocalypse opened #13 "Mailhog not started automatically after installation"
It should automatically start. At the moment you have to run `brew services start mailhog`

[2017-06-28 08:33] Xpocalypse opened #14 "Document log locations in readme.md"
Maybe the PHP error log should also be in the same location. (`~/.valet/Log`)

[2017-06-29 21:08] timneutkens commented on #13
Fixed in https://github.com/weprovide/valet-plus/commit/86f336a7c088315678b9ceee889a973a0625c97f

[2017-06-29 21:08] #13 closed

[2017-07-05 10:03] Xpocalypse opened #15 "Add geoip module by default"

[2017-07-05 11:26] timneutkens commented on #15
Added in https://github.com/weprovide/valet-plus/commit/a9efcabf071f7bf785dd2b6518a0d5d346b76c81

[2017-07-05 11:26] #15 closed

[2017-07-05 12:17] Xpocalypse opened #16 "default timezone configurable with command"
Has to be added to the php.ini, cause Symfony requires it.

[2017-07-05 18:33] timneutkens commented on #16
Actually we can do something like this:

[code]

[2017-07-06 05:55] timneutkens commented on #16
To fix this you can do a `str_replace` on the contents of `z-performance.ini` here: https://github.com/weprovide/valet-plus/blob/master/cli/Valet/PhpFpm.php#L70

So `$contents = str_replace('TIMEZONE', $systemZoneName, $contents)` and then add `date.timezone = "TIMEZONE"` to `z-performance.ini` here: https://github.com/weprovide/valet-plus/blob/master/cli/stubs/z-performance.ini

[2017-07-06 06:14] #16 closed

[2017-07-06 07:07] SanderJP opened #18 "Error: The `brew link` step did not complete successfully"
Installation was simple, easy and no problems, but it installed 7.1 by default. So when using `valet use 7.0` I get the following error:

[code]
Switching back to 7.1 and once more to 7.0 fixed it. Seems after the first time switching it can remove the symlinks properly. Here's the full log:

[code]

[2017-07-06 07:10] timneutkens commented on #18
I'll fix this sometime this week 👍

[2017-07-07 08:35] SanderJP opened #19 "Update error message: Error creating database"
[code]
I got this error thinking it was something wrong with the directory name, until I read the documentation and figured out the database name is based on the git repo name, and there was none. Maybe update the error message to read: 'Error creating database, no git repo found.' ?
Or even have a fallback to the directory name if there is no git yet.

[2017-07-07 11:13] timneutkens commented on #19
Yeah lets do that, but it should fall back to the current directory if it can't find git.

[2017-07-07 13:35] SanderJP opened #20 "Allow Magento 2 setup from local.dev/setup"
Right now Magento 2 can only be installed through the command line with `bin/magento setup:install ...` or `n98-magerun2 install`. Is it possible to allow through `local.dev/setup` as well?
I have not tested this but I imagine similar problems with other packages like Wordpress?

This would make it a lot more accessible to people with less experience with the command line.
It might be useful to ad

[2017-07-08 11:07] timneutkens commented on #18
Fixed in https://github.com/weprovide/valet-plus/commit/ba8f5e3e430de5adb90d0ab4eb8dda20f52380f8. Also refactored it to be much faster 😄

[2017-07-08 11:07] #18 closed

[2017-07-08 11:21] timneutkens commented on #19
Fixed in https://github.com/weprovide/valet-plus/commit/e57f24e980a7fc7b1394348349efc1452931ccfb

[2017-07-08 11:21] #19 closed

[2017-07-08 20:54] timneutkens commented on #20
It's Magento2 only. Wordpress installer works just fine.

1. I fixed the Magento2 installed 😄 :
![screen shot 2017-07-08 at 22 25 31](https://user-images.githubusercontent.com/6324199/27989013-0aa595d8-6430-11e7-9571-f79a63dd1cca.png)

2. I added a page for when there's no `env.php` or `config.php`, cause Magento throws some non-descriptive errors when they're not there 👍
![screen shot 2017-07-08

[2017-07-08 20:54] #20 closed

[2017-07-08 21:00] timneutkens commented on #14
Added.

[2017-07-08 21:00] #14 closed

[2017-07-10 09:10] SanderJP opened #21 "Drupal 7 not working"
Not sure if it's my local setup but I can't seem to get a Drupal 7 site working, any idea?

![image](https://user-images.githubusercontent.com/2470914/28010645-d92323a0-655f-11e7-8c3a-dc0c83083717.png)

Also `drush cc all` is giving me:
[code]
Even though I have a settings.php with (I think) the right db settings:
[code]

[2017-07-10 13:32] timneutkens commented on #21
https://www.perfexcrm.com/knowledgebase/console-error-content_decoding_failed/ according to this it might be related to `zlib.output_compression`.

[2017-07-10 13:38] timneutkens commented on #21
Could you try adding `ini_set('zlib.output_compression', 1);` to your index.php, if it works I'll try to add it to the default `php.ini` 👍

[2017-07-11 09:18] SanderJP commented on #21
My bad, Drupal 7 doesn't support php 7 yet so that was giving errors :)

[2017-07-11 09:18] #21 closed

[2017-07-12 10:20] SanderJP opened #22 "Unable to load dynamic library '/usr/local/opt/php56-ssh2/ssh2.so'"
I tried switching to 5.6 and got the following errors:
[code]
Eventually I fixed it by reinstalling ssh2 manually through homebrew: `brew reinstall php56-ssh2 --build-from-source`, switching to 7.0 and back to 5.6 then succeeded. I'm not sure if this is due to my local setup as I might have had some form of php already installed.

[2017-07-12 13:11] timneutkens commented on #22
Most likely cause `php56-ssh2` is not installed by valet 👍

[2017-07-12 13:11] #22 closed

[2017-07-12 13:17] SanderJP commented on #22
Ah so that was some existing configuration?

[2017-07-12 13:17] timneutkens commented on #22
Most likely

[2017-07-12 13:21] SanderJP commented on #22
Ok my bad :)

[2017-07-14 08:48] SanderJP opened #23 "Magento 1 cannot load core javascript file"
I've installed a Magento 1 webshop and everything works except when I go to the admin forget password form (http://project.dev/index.php/admin/index/forgotpassword/). It's trying to dynamically load javascript files through the following URL:
`http://project.dev/js/index.php/x.js?f=prototype/prototype.js,prototype/validation.js,mage/adminhtml/events.js,mage/adminhtml/form.js,scriptaculous/effects.

[2017-07-14 14:13] SanderJP opened #24 "Composer global update does not update Valet+"
Not sure if this is my configuration but when I ran `composer global update`, Valet+ was not updated.
In fact it was downgrading some dependencies as if it couldn't find Valet+. I saw the Valet+ require in `~/.composer/composer.json` with version `"^0.2.3"`.
Als running `composer global show` shows:
`weprovide/valet-plus 0.2.3   Blazing fast macOS PHP development environment`

I had to use `compos

[2017-07-14 14:17] timneutkens commented on #24
Hmm I wonder if we should document `composer global update weprovide/valet-plus`

[2017-07-14 14:20] SanderJP commented on #24
I can check on the next release if that is sufficient.

[2017-07-19 13:45] SanderJP opened #25 "FR: 'valet reimport [file]' or create db when using import on non-existing db"
When you use 'valet db import [file]' but the database doesn't exist yet, you get the error `ERROR 1049 (42000): Unknown database 'project'`. It would be nice if the database is created if it doesn't exist.
Also I use 'valet db drop && valet db create && db import [file]' as a one-liner for re-installing a database, if that could be 'valet db reimport [file]', that would be awesome!

[2017-07-19 20:07] timneutkens commented on #25
Great idea! Adding now.

[2017-07-19 21:05] timneutkens commented on #25
Added in `0.4.2`

[2017-07-19 21:05] #25 closed

[2017-07-19 21:05] timneutkens commented on #25
https://github.com/weprovide/valet-plus/releases

[2017-07-19 21:26] SanderJP commented on #25
:+1:

[2017-07-20 06:46] timneutkens commented on #24
Just tested. It works. Updated the docs.

[2017-07-20 06:46] #24 closed

[2017-07-20 06:47] timneutkens commented on #23
Easiest fix is to disable js merging from the looks of it.

[2017-07-20 07:31] SanderJP opened #26 "FR: ability to switch PHP version per project."
It would be amazing if we could switch php version per project directory. I have not set this up myself but a college of mine did: https://medium.com/@wvervuurt/how-to-run-multiple-php-versions-simultaneously-under-os-x-el-capitan-using-standard-apache-98351f4cec67
I'm not sure if this way is compatible with the way Valet+ is setup?

[2017-07-20 07:50] SanderJP commented on #23
Merging is off, it's the way the index.php is picked up by Valet I think, `x.js` is not actually a file.
But I've managed to get in and I don't see this error anywhere else, so for now it doesn't matter too much.

[2017-07-20 08:05] SanderJP opened #27 "Valet db export"
1. You can use `valet db export` inside the right directory and it'll export the database of that directory to `[name].sql`. If you want to change the name of the file, you have to use `valet db export [db] [filename]` which makes you retype the current directory. If the directory and filename parameters are reversed you can use `valet db export [filename]`, which uses the current directory if omi

[2017-07-21 12:28] timneutkens commented on #23
Cool, i'm going to close this as we haven't experienced issues because of it.

[2017-07-21 12:28] #23 closed

[2017-07-23 20:50] timneutkens commented on #26
Since we don't have a need for this right now I'm going to leave this open as enhancement + help wanted 👌

[2017-07-30 10:21] timneutkens commented on #27
Hi Sander,
Thanks for the feedback ❤️ , Sam/me have implemented all your suggestions.
See https://github.com/weprovide/valet-plus/releases

[2017-07-30 10:21] #27 closed

[2017-08-02 10:02] wowcut opened #28 "Documentation not clear about how to update from valet"
The documentation gives no hint what I should do when I have already valet installed - is there an upgrade path? Should I remove valet?
This seems to be a very common situation: user found valet, then after some while, looking for more features, she finds valet+ so some words about how to upgrade / convert should address many people.

BTW: very nice project! Thank you for your efforts!

[2017-08-02 10:43] wowcut opened #29 "Installation fails with mariadb already installed"
The installation process fails when mariadb was already installed with brew:
[code]
The flexibility of valet+ is what makes it a plus for me - that should include using it with mariadb.

[2017-08-04 06:31] timneutkens commented on #29
@wowcut Mariadb support added in https://github.com/weprovide/valet-plus/releases/tag/0.5.5

`valet install --with-mariadb`

[2017-08-04 06:31] #29 closed

[2017-08-04 06:33] timneutkens commented on #28
We should definitely document this. I'll draft something 👌

Thanks 🤗

[2017-08-10 16:04] mattstauffer opened #34 "Needs a new name"
I'm not a part of the Valet project, but I care about people handling things well, so I'm going to say something.

This project should have a new and unique name. In my totally-un-asked-for opinion, Valet+ is not an appropriate name for something that's not run by the people who created the original Valet. It's akin to forking Laravel and naming it Laravel$$$, or forking Drupal and naming it Drupa

[2017-08-10 17:00] lazyguru commented on #28
You might also consider adding a [replace](https://getcomposer.org/doc/04-schema.md#replace) block to your composer.json. Composer should then take care of removing laravel/valet when it installs Valet+

[2017-08-10 17:06] timneutkens commented on #28
@lazyguru wow, nice!

[2017-08-10 17:14] timneutkens commented on #34
@mattstauffer thanks for your feedback. First of all, we're not meaning to hurt anyone's feelings in any way, the reason I picked the name cause we were already using valet, and I didn't want to break the command already known by our employees 👌.

I do understand you point, and I'm not against renaming the project at all. Any suggestions are welcome 👍 ❤️

[2017-08-10 17:22] CrixuAMG opened #35 "Error when installing"
`Parse error: syntax error, unexpected '' - dlopen(/usr/local/opt/php7' (T_CONSTANT_ENCAPSED_STRING), expecting ',' or ')' in Command line code on line 3/cli/valet.php
`
Got this error on calling `valet install`.
I have installed php71, on a 2016 macbook pro, latest updates.

[2017-08-10 20:08] mattstauffer commented on #34
@timneutkens <3 sounds great! I doubt anyone's feelings are hurt--you'll have to ask them--but I know that a rename could go a long way to clear up potential confusion.

Naming's a pretty personal thing, so I don't know if you're going to get really quality names from other people. It sounds like you're willing to rename it (woop!), and what I don't want is to see this issue die with the explanati

[2017-08-10 22:59] joshredwards commented on #34
Possible name you could use: Chauffeur. Although the spelling could be a problem.

Squire is short and sweet though!

[2017-08-11 04:40] timneutkens commented on #34
I like Squire too! The only thing we need to keep in mind is that 1.0 was just released. Everyone just installed valet-plus using composer, and are using the `valet` command. So we'll have to figure out a graceful way to get the newly named package out to everyone. This comment might help with that: https://github.com/weprovide/valet-plus/issues/28#issuecomment-321612081

Then we should keep the `

[2017-08-11 09:14] SanderJP commented on #35
Did you follow the Installation instructions? https://github.com/weprovide/valet-plus#installation

[2017-08-11 09:41] beany-vu opened #36 "Problem with connecting to db"
I tried to setup the valet web server and it's okay because and I can try like "example.dev". However, I can't connect to the db or do anything relating the db.
This is the screenshot of my error: [link](http://prntscr.com/g75req)
Any ideas about this problem?
Thanks in adance.

[2017-08-11 10:51] DigicreateJens opened #37 "MySQL breaks when exporting"
I'm trying to export a Magento2 DB via SequelPro, but the export always stops around table number 32-35 because the MySQL server just stops working. After running a `valet restart` the server is back online, but restarting the export breaks it again.

This is rather a pressing issue, because I use MySQL exports frequently via SequelPro

[2017-08-11 10:54] DigicreateJens commented on #37
Tried reinstalling with `--with-mariadb` option, no difference. Not even sure if it actually installs MariaDB, as SequelPro shows my database as 'MySQL 5.7.17'

[2017-08-11 11:04] DigicreateJens commented on #36
I encountered this error earlier today when testing for my own issue (#37).
After testing if the error I mentioned still occurs when reinstalling with the `--with-mariadb` flag, the `valet db ls` command started working for some reason.

[2017-08-11 11:22] timneutkens commented on #35
So, I've seen this before when a colleague installed php71 it didn't actually link php71 to /usr/local/bin/php. Instead it kept using the default php version (5.5 / 5.6) could you check `php -v`? Thanks!

[2017-08-11 11:24] timneutkens commented on #36
Lets track this in #37 since it's the same issue.

[2017-08-11 11:24] #36 closed

[2017-08-11 11:26] timneutkens commented on #37
@DigicreateJens it actually doesn't install mariadb yet. Weird question, but could you try a system restart. It'll load some config changes which we can't manually load on first install 👍

[2017-08-11 11:36] DigicreateJens commented on #37
Yep, restart seems to fix the issue. Issue #36 was fixed before the reboot though. 👍

[2017-08-11 12:07] CrixuAMG commented on #35
Output of `php -v`:

[code]

[2017-08-11 12:23] timneutkens commented on #37
@DigicreateJens okay so we have to think of something to load https://github.com/weprovide/valet-plus/blob/master/cli/stubs/limit.maxfiles.plist without restarting 👍

[2017-08-11 15:04] CrixuAMG commented on #35
Just solved it by reinstalling PHP and some of the extensions. For me it turned out to be PHP71-Imagick causing the issue. Thanks for helping!

[2017-08-11 15:04] #35 closed

[2017-08-11 16:25] CrixuAMG opened #38 "Invalid datetime zone?"
When I cloned my project in `~/sites/project-name`, I saw many warnings related to the timezone.
Europe/Amsterdam is perfect, as I am from the Netherlands, but it appears to be set incorrectly?
I've tried setting it in my own script, (not even using DateTime btw, only using Nesbot's Carbon package) but that still shows the errors.
After scrolling down a bit, I can also see an exception is thrown.

[2017-08-11 16:55] timneutkens commented on #35
Great!

[2017-08-11 16:58] CrixuAMG commented on #38
I've placed `ini_set('date.timezone', 'Europe/Amsterdam');` in my bootstrapper, but why would this be required of any project? Please setup a default timezone in the ini so that exceptions aren't thrown whenever trying to use a DateTime class instance :)

[2017-08-11 16:58] timneutkens commented on #38
Interesting! I'll have a look 🙌🏻

[2017-08-11 18:11] CrixuAMG opened #39 "Routing issues"
Before, when I was using Ampps, I had setup a .htaccess file in my public folder (next to my index.php file).
Now, none of my routes do anything anymore.
My .htaccess file looked like this:
[code]

Since the url was something annoying like localhost/project-name/public/(users, etc.), I wanted to switch to something better.
My project is almost 100% my own code, since it is mostly a learning platfo

[2017-08-11 19:28] OgaBoss commented on #28
@timneutkens Please were you able to resolve this ? if yes and you say how. Thank you.

[2017-08-11 20:59] lazyguru commented on #28
@OgaBoss you have to remove laravel/valet first.  Currently there is no "updating" to this package.

[2017-08-12 05:34] timneutkens commented on #39
Hey @CrixuAMG,
We're using nginx + php drivers to do routing.
To do what you want to do you'll have to provide the same functionality in a `LocalValetDriver`:
https://github.com/weprovide/valet-plus#local-drivers

[2017-08-12 13:07] jonphipps commented on #34
Just my $.02, but I think suggesting renaming in order to protect the Valet brand seems a bit draconian. I don't recall similar objections to [homestead_improved](https://github.com/Swader/homestead_improved). Perhaps this was because that project was extremely clear that it was an "upgraded fork of the original Laravel Homestead".

That lack of clarity seems to be the main objection from both @ad

[2017-08-12 14:15] mattstauffer commented on #34
@jonphipps yah as I did the pull request I stared wondering if a much better readme, clearer fork relationship, and possibly just pulling in valet and then modifying it may actually be a *better* solution than a rename.

[2017-08-12 14:52] mattstauffer commented on #34
(The last and should have been and/or; not sure how easy it would be to do since I don't know whether valet+ modifies any core files)

[2017-08-12 15:52] timneutkens commented on #34
@mattstauffer most changes involved changing core files 😃

@jonphipps

I agree

I'm keeping it up to date as much as possible, I'll add that to the readme.

--

I'm fine with either solution 😄 The easiest is to change the documentation of course. It'll keep backwards compatibility with the original valet package. Though a new name would clear up any confusion there might be 👍

[2017-08-12 15:59] #39 closed

[2017-08-12 16:02] timneutkens commented on #38
This was already done, please check `/usr/local/etc/php/7.0/conf.d/z-performance.ini` line 2 should have the timezone. Note that you'll have to change `7.0` with your installed PHP version 🙌

[2017-08-13 06:35] ekandreas commented on #34
No, don't change the name. I found this project because I love Valet as a devenv but miss the things u added. Valet+ is just great and Squire feels more like something at a specific hub-web-page.

[2017-08-13 08:32] CrixuAMG commented on #38
Maybe make a command `valet php [number]`, where [number] would be 70, 71 etc, so people can easily upgrade their php version? ;)

[2017-08-13 10:08] timneutkens commented on #38
We already have `valet use [5.6,7.0,7.1]` https://github.com/weprovide/valet-plus#switching-php-version

[2017-08-13 10:08] #38 closed

[2017-08-13 14:10] timneutkens commented on #34
@mattstauffer @jonphipps @ekandreas I've updated the introduction. What do you think? https://github.com/weprovide/valet-plus#introduction

[2017-08-13 15:19] ekandreas opened #42 "Redis already declared"
Getting already declared error for Redis when installing Valet-plus `valet install`:
[code]
Class Redis is already declared in cli/Valet/Redis.php so...
I have cleared cache and removed all global composer requirement except for valet-plus.

[2017-08-14 02:07] 9IPHP commented on #42
I have the same issue. I had removed valet before install valet-plus.

[2017-08-14 02:08] FrancisVarga commented on #42
i have the same problem here:
valet install
Password:

[2017-08-14 14:51] #34 closed

[2017-08-14 14:52] timneutkens commented on #34
Thanks to @mattstauffer this issue has been resolved in #43 👌 🙌

[2017-08-15 06:26] joshredwards commented on #38
Aware of this being closed, however I'd like to point out that when you call one of those commands as you've mentioned @timneutkens.. You essentially do a blanket shut-down of php. I suggest not doing that and terminating the specific service - It'll improve speed.

[2017-08-15 11:37] SanderJP opened #44 "FR: use gzip for sql files"
He, I could have a look to make this myself but I'm not sure about other platform compatibility and what gzip progs to use etc, but it would be great if the db export/dump can directly pipe the sql into a .gz file. Also reading a .gz file on import/reimport would be awesome! Space is valuable ;)

[2017-08-15 21:38] noplanman opened #45 "apc.shm_size too high?"
Hi, it seems that the `apc.shm_size` is too high for my setup. Having it set to `2048M` I get the following error when using PHP (e.g. `php -v`)

`PHP Fatal error:  PHP Startup: apc_mmap: ftruncate failed: in Unknown on line 0`

When I set it lower, to say `512M`, PHP works perfectly with APCU.

Would there be a way to set this dynamically somehow from a config? Now I need to manually change the `

[2017-08-15 22:54] timneutkens commented on #45
@noplanman I guess we can move it down a bit 👌

[2017-08-16 10:03] #45 closed

[2017-08-16 15:10] fridzema commented on #42
+1 Same problem here

[2017-08-18 20:20] dannygsmith opened #47 "Enhancement: Add PimpMyLog"
It is trivial to add, but it would be nice if PimpMyLog was added by default.  http://pimpmylog.com/

[2017-08-18 20:32] timneutkens commented on #47
Good idea, lets see if we can implement it :ok_hand:

[2017-08-18 20:34] timneutkens commented on #42
Super weird, still can't reproduce.

[2017-08-18 20:35] spaceemotion commented on #42
I'm using Mac OS sierra, using a fresh copy of valet-plus. wasn't able to use a single command after the install.

[2017-08-18 20:39] timneutkens commented on #44
Feel free to add it 👌

[2017-08-20 02:12] dannygsmith opened #48 "Undefined index: USER"
I have installed https://github.com/aaemnnosttv/wp-cli-valet-command and was adding a user, and when I ran it I get the following error:

Don't go anywhere, this should only take a second...
Success: sample ready! https://sample.Notice: Undefined index: USER in /Users/riskiii/.composer/vendor/weprovide/valet-plus/cli/includes/helpers.php on line 175

Notice: Undefined index: USER in /Users/riskiii

[2017-08-21 08:33] deizel commented on #42
@timneutkens You can reproduce with `brew install php71-redis`, which adds a [`Redis` class](https://github.com/phpredis/phpredis#class-redis).

[2017-08-21 16:53] timneutkens commented on #42
@deizel :joy: those namespaces haha, will check it out whenever I find the time 👍

[2017-08-22 08:25] SanderAtom opened #49 "Some operations cause Valet+ to hang completely"
It's hard to pinpoint what is going on, but after certain actions involving Ajax calls (I think), Valet+ becomes completely unresponsive. There is minor php-fpm usage when I open a page, but very short then nothing and eventually it times out with a 504 Gateway Timeout.
Very rarely it started working again after a few minutes without doing anything. Mostly I have to restart php and it works again.

[2017-08-22 11:37] SanderAtom commented on #49
This happens now every time Drupal has to create new images based on image styles. When I change the image style and load the page, php hangs when trying to create the new images. I have to go to the image link directly to get the image to be created. After they are created, the page loads find and quick. Not sure if this is because these scripts are executed multiple times at the same time.

[2017-08-23 14:25] wowcut opened #50 "Docs: no hint about how to set different password for valet to use"
I can not set a different password for valet to use - I looked into `.valet` but did not find any hint about where valet might be looking for passwords. Please add some info in the docs about how to change the used password.

Please note: I know how to change the mysql / mariadb root password. I do not know where to set the mysql password valet uses.

Thank you very much for your attention!

[2017-08-26 07:58] timneutkens commented on #50
Right now we expect it to always be root/root, but i'm open to creating a config value for it 👌

[2017-08-26 08:39] timneutkens commented on #37
Fixed in 1.0.1

[2017-08-26 08:39] #37 closed

[2017-08-27 07:38] mischabraam opened #51 "Elastic search head plugin"
Would be very convenient to have the Head plugin installed with ES. This makes all indexes browsable and gives much insight. Very convenient for developers.

See https://github.com/mobz/elasticsearch-head for installation notes.

After installing the head plugin you should be able to browse to http://elasticsearch.dev/_plugin/head/

[2017-08-27 08:36] timneutkens commented on #51
Apparently there is a chrome plugin: https://chrome.google.com/webstore/detail/elasticsearch-head/ffmkiejjmecolpfloofpjologoblkegm/ which provides all features.

The elasticsearch plugin is deprecated https://github.com/mobz/elasticsearch-head#running-as-a-plugin-of-elasticsearch-deprecated

Also the module itself requires Node.js te install/run which we don't provide in Valet+. So I'd go with the

[2017-08-27 08:39] #51 closed

[2017-08-27 08:42] timneutkens commented on #42
Fixed in 1.0.2 https://github.com/weprovide/valet-plus/releases/tag/1.0.2

[2017-08-27 08:42] #42 closed

[2017-08-30 02:36] dannygsmith opened #52 "cURL error 51: SSL: certificate verification failed (result: 5)"
I am using mainwp to locally to connect to a host on the same machine, and when I do I get the following notice:

Server self connect | The HTTP response test get an error "cURL error 51: SSL: certificate verification failed (result: 5)"Not expected HTTP response body:

I have removed and resured the local hosts and still get the same issue.  I went into Keychain access and remove all of the certi

[2017-08-30 09:23] kanduvisla opened #53 "Is it possible to set a PHP version for a specific domain?"
For example: can I set one domain / folder to run on PHP7.0 and the other on PHP7.1?

I understand that this can be quite challenging for the CLI, but is it possible to provide a preferred version number that is used with Nginx?

[2017-08-30 14:33] timneutkens commented on #53
Currently it's not possible. But this is a duplicate of https://github.com/weprovide/valet-plus/issues/26

[2017-08-30 14:33] #53 closed

[2017-08-30 22:36] dannygsmith commented on #52
I think the problem is that it is using SecureTransport for SSL
[code]
I have tried this so far without success:
[code]
and set this in my .bash_profile before running:
[code]

[2017-08-31 05:33] yhoiseth opened #54 "Why PHP 7.0?"
First of all, thanks a lot for making and open sourcing Valet Plus.

In [the installation instructions](https://github.com/weprovide/valet-plus/blob/master/readme.md#installation), step 2 says

I used PHP 7.1 instead, and it seems to work fine. I'm curious, why does the documentation specify PHP 7.0?

[2017-08-31 06:15] timneutkens commented on #54
It'll even work if you install PHP 5.6 😄 This is mostly cause we're doing Magento development and Magento doesn't support 7.1. So we'd first install php 7.1 to then always switch to 7.0, so it's there for convience 👌

[2017-08-31 06:15] #54 closed

[2017-08-31 19:06] yhoiseth opened #55 "Elasticsearch version"
`valet elasticsearch install` [installs Elasticsearch 2.4](https://github.com/weprovide/valet-plus/blob/11a0cfba84f96d7c4574d8ed423ad978ad4990d0/cli/Valet/Elasticsearch.php#L45).

I started digging into this because I have some issues with fielddata on `bin/console fos:elastica:populate`:

[code]

This used to work when I had simply run `brew install elasticsearch && brew services start elasticsea

[2017-08-31 19:09] timneutkens commented on #55
1. It's cause it's a requirement of Magento 2
2. `brew uninstall elasticsearch@2.4` doesn't harm anything 👌 Then you can install elastic version 5 using `brew install elasticsearch`

[2017-09-01 02:07] srikat opened #56 "Warnings and errors in the output of `valet db ls`"
Hello,

I have just set up Valet+ (and WP-CLI Valet Command). Great time saver! I am able to create sites just fine.

There are a couple of problems though:

1) The documentation says that default mysql `root` user's password is `root`. But in my case, it doesn't work. Only empty/blank password works.

2) There are warnings and errors appearing when I run `valet db ls`:

[code]

Could this be beca

[2017-09-01 17:48] timneutkens commented on #56
Sounds like https://github.com/weprovide/valet-plus/blob/83ae224c9f1f6e287c3b8504452963208be8fb46/cli/Valet/Mysql.php#L151-L153 was not triggered correctly. You can manually run `mysqladmin -u root --password='' password root` and it'll work 👌 This is not related to composer but rather to homebrew which tells us that mysql was started when it's not booted up yet

[2017-09-01 17:48] #56 closed

[2017-09-01 17:53] timneutkens commented on #55
I guess we should allow installing v5 and provide an explanation in the docs as to why we install 2.4

[2017-09-01 20:26] srikat commented on #56
Thanks @timneutkens

I ran

`mysqladmin -u root --password='' password root`

and it certainly made things better. I can now see the table of databases with these warnings appear above the table:

[code]

[2017-09-01 20:50] dannygsmith opened #58 "valet db ls throwing an error in Filesystem.php line 258 as a result of last pr"
This is an issue caused by the last pr, on ~/.composer/vendor/weprovide/valet-plus/cli/Valet/Filesystem.php line 200, it is calling `$this->chown($to, user());` and getting the empty string.  I am not sure which user to default to here.

[2017-09-01 21:36] timneutkens commented on #58
I'm thinking this is related to something missing in your installation. The current user should always be there

[2017-09-01 21:39] timneutkens commented on #56
@srikat great 👍 as to your other issue https://github.com/weprovide/valet-plus/issues/58 is tracking this.

[2017-09-02 14:13] timothyjensen opened #59 "Error in Readme example"
In general the Readme is excellent.  I found one typo, however that is a quick fix.

Where it reads:

3. `echo "<?php echo 'Valet+ at your service'" > index.php`

It should read

3. `echo "<?php echo 'Valet+ at your service';" > index.php`

The only difference is the semicolon after `service'`.

As it is now, the command results in a PHP error.

[2017-09-02 14:37] timneutkens commented on #59
@timothyjensen good catch! Fixing right now 😄

[2017-09-02 14:39] #59 closed

[2017-09-02 15:02] timneutkens commented on #58
Fixed

[2017-09-02 15:02] #58 closed

[2017-09-02 20:16] riskiii commented on #48
This issue is fixed.

[2017-09-02 20:50] srikat commented on #50
Perhaps in `/usr/local/etc/my.cnf`?

[2017-09-02 21:14] timneutkens commented on #50
@srikat it's overwritten every time you `valet install`. So we need to make it configurable

[2017-09-02 21:15] timneutkens commented on #50
And the user/password are hardcoded into valet+ right now

[2017-09-02 21:16] timneutkens commented on #48
Nice! Will do a new release soon 👌

[2017-09-02 21:16] #48 closed

[2017-09-02 22:48] srikat commented on #44
can be done with a bash script.

[code]

To run:

`wp-export example`

[2017-09-04 01:20] srikat opened #60 "Parked folders are also being served"
Hello,

I have a folder called `clients` inside my `~/Sites`.

I have parked both Sites and clients folders using the `valet park` command.

However, in the browser, it shows that clients.dev is also available.

![screenshot](http://d.pr/i/3j0oHV+)

Any idea what's wrong?

[2017-09-04 01:36] srikat commented on #60
Fixed.

The mistake I was making was that I wasn't parking the folders properly. I should go inside the folder and then `valet park`, not be in parent and do `valet park directory`.

[2017-09-04 01:36] #60 closed

[2017-09-04 06:07] timneutkens commented on #60
@srikat this is cause we just read the directory and render all the directory names with `.dev` appended 😄

[2017-09-04 10:05] wowcut commented on #50
Question: why does valet need to handle the password at all? Wouldn´t it be easier to not touch the password at all and leave all things at the usual places (like `$HOME/my.conf`)? Currnetly I am not 100% clear about why valet need the password.

[2017-09-04 18:26] timneutkens commented on #50
For all the `valet db` subcommands.

[2017-09-05 02:50] dannygsmith opened #61 "Created scripts to automate the install valet-plus by first checking to see if any other web server is running"
Created scripts to automate the install valet-plus by first checking to see if any other web server is running, and kill them.

https://campfirepixels.com/automated-way-to-install-valet-plus-by-weprovide/

valet-plus-list
git@gist.github.com:ca96e5face7cd1f02ce62aad490cfe2d.git
valet-plus-destroy
git@gist.github.com:5b74ba708d7bf8621c1cb6b959ece99f.git
valet-plus-install
git@gist.github.com:ccaa97

[2017-09-05 05:47] timneutkens commented on #61
This is pretty cool 👍

[2017-09-06 08:35] SanderJP commented on #44
PR is up: https://github.com/weprovide/valet-plus/pull/62

[2017-09-06 12:51] #44 closed

[2017-09-07 15:23] timothyjensen opened #63 "Xdebug remains enabled after uninstall"
I executed the command `valet uninstall` to uninstall Valet Plus.  However, Xdebug remained enabled even after uninstalling Valet Plus.  I think most users would expect Xdebug to be disabled when uninstalling the package.

[2017-09-11 08:06] StanSluisveld opened #64 "Dnsmasq copy error"
Happens when you remove dnsmasq and then reinstall. Should check for existence of the file. Since the file is 100% comments it doesn't have to be included.
[code]

[2017-09-11 08:07] StanSluisveld opened #65 "Dnsmasq config location is appended"
When you install using one user and switch to another and install again it'll duplicate the line breaking dnsmasq without warnings

[2017-09-16 13:32] barryvdh opened #66 "[Magento2] Admin 404 & urls include server.php/"
I installed a fresh Magento 2.1 installation, but when I visit the admin URL, it get's changed to something like this: `http://magento21.dev/server.php/admin_4t5lza/admin/index/index/key/f4abf7a53b0be6c9119/`

Also, other links on the page include server.php, but don't actually work, unless I remove the server.php manually. Am I missing something?
Laravel project does seem to work.

[2017-09-16 17:03] timneutkens commented on #66
Hey @barryvdh it's a bug I haven't looked into yet, cause the fix is simple. You need to enable `web/seo/use_rewrites` then it magically works.

[2017-09-16 17:06] barryvdh commented on #66
Ah yeah I wanted to try that, except I couldn't access the admin and didn't
know the code CLI access ;)

On Sep 16, 2017 19:03, "Tim Neutkens" <notifications@github.com> wrote:

[2017-09-16 17:08] barryvdh commented on #66
It did work with my old driver, but removed it because it conflicted with the one provided here. But unfortunately I don't have the old one anymore...

[2017-09-16 17:12] timneutkens commented on #66
No worries! Will figure it out sometime 😄

[2017-09-20 10:19] royduin opened #68 "Change .dev to .local?"
See: https://ma.ttias.be/chrome-force-dev-domains-https-via-preloaded-hsts/

[2017-09-20 12:14] adamlindqvist commented on #68
Do you want it for a specific app or in general?

https://laravel.com/docs/5.5/valet#installation

[2017-09-20 12:21] royduin commented on #68
I just opened this issue for discussion about this subject.

[2017-09-20 17:57] #55 closed

[2017-09-20 20:02] mauroartizzu opened #70 "Access denied for user 'root'@'localhost' (using password: NO)"
[code]

I removed laravel/valet and installed valet+

I can no longer access db from applications (both magento2 and laravel, standard configuration, host localhost or 127.0.0.1 user: root, no password. Post 3306)

Accessing it from CLI or Sequel Pro works just fine. Any clue? Thanks

[2017-09-20 20:11] mauroartizzu commented on #70
nvm, noticed now the default password is different from the one from laravel/valet. Solved.

[2017-09-20 20:11] #70 closed

[2017-09-20 22:15] jerrylopez commented on #68
Not sure if `.local` should be the tld it is changed to. I believe that Macs have this reserved, vaguely remember seeing this somewhere.

[2017-09-26 03:11] srikat commented on #68
@jerrylopez From the article in the first post:

[2017-09-26 03:27] srikat opened #72 "Error when trying to change .dev domain extension"
I am trying to change the domain extension from the default `.dev` to `.test` for a site that has been secured (https://custom-slider.dev/ - I see "connection not private" browser security warning).

My site's folder is inside a parked folder.

I navigated to the parked folder and ran

[code]

and it results in

Any ideas?

[2017-09-26 06:45] srikat commented on #72
Solved.

Apparently, `domain` is to be typed literally.

I navigated to the folder where the site is parked (i.e., parent folder of the site) and executed

[code]

Without the `sudo`, I was getting

[code]

[2017-09-26 06:45] #72 closed

[2017-09-27 10:57] jahvi opened #73 "How to change document root for specific site?"
I'm trying to run a WP site however we customise the file structure so the document root is in a `public` folder. Is there a way to change the document root to point to this folder or do I need to write a custom driver?

[2017-09-27 11:11] vanpoppel commented on #73
Run inside public folder:
`valet link projectname.dev`

[2017-09-27 11:30] jahvi commented on #73
Perfect that worked, thanks!

[2017-09-27 11:30] #73 closed

[2017-09-29 07:47] barryvdh commented on #68
See https://github.com/laravel/valet/pull/436

I would suggest to follow Valet, to keep it in line. But my personal suggestion would be to use `.localhost`

[2017-09-29 09:50] derpepe opened #74 "Unable to switch back to PHP 7.0 from PHP 5.6"
I installed Valet+ and switched to PHP 5.6 by executing "valet use 5.6".

After that, any call to the valet-CLI-command led to an error.

The problem is, that tightenco/collect v5.5.13 which is used by valet requires php >=7.0.
The then installed PHP version (5.6.31) does not suffice.

I had to manally run
[code]

After that I was able to execute "valet use 7.1" and fix the system.

[2017-10-01 02:49] dannygsmith opened #75 "valet unsecure does not work on newly secured host"
It appears that when you run `valet stop` it does not restart `dnsmasq`.  I killed it via `sudo killall dnsmasq` and it got a new `pid`.  Even then when trying to open the page it would not work.  This seems like a bug to me, unless I am just holding my mouth wrong :)

[2017-10-01 22:56] omolto commented on #74
+1

[2017-10-02 08:56] Tristan-N commented on #49
@SanderAtom This also occurs on Magento 2 installations, so it's not a Drupal only issue.

[2017-10-02 10:21] SanderAtom opened #76 "Fatal error: Class 'LocalValetDriver' not found"
A fresh install and using a LocalValetDriver.php for a different webroot, throws this error:
`Fatal error: Class 'LocalValetDriver' not found in /Users/sander/.composer/vendor/weprovide/valet-plus/cli/drivers/ValetDriver.php on line 49`

This is the code:
[code]

[2017-10-02 10:41] SanderAtom commented on #49
Ye but less often than certain drupal actions. Also only restarting php resolves this issue, restarting nginx has no effect.

[2017-10-03 11:12] jahvi opened #77 "How to handle multiple stores in Magento site?"
What's the recommended way of handling multiple stores with Valet+?

Usually I'd just add a line in my nginx.conf file so the `MAGE_RUN_CODE` or `MAGE_RUN_TYPE` server variables change depending on the domain name, is it possible to do something like this with Valet+? Should I use a custom driver?

Thanks.

[2017-10-03 11:19] vanpoppel commented on #77
Haven't tried it yet, but you might be able to run Magento from subdirectories and link your multi-store domain names to those directories.

[2017-10-03 11:34] jahvi commented on #77
Thanks, pointing the domain names is not a problem, e.g. I can point `magento.dev` and `store2.magento.dev` to the same directory just fine. The problem is that I also need to let Magento know that if the domain name is `store2.magento.dev` set the `MAGE_RUN_CODE` server variable to `store2` so it loads the right store view, right now going to the store2 domain just redirects me to the main `magen

[2017-10-03 13:38] SanderAtom commented on #49
@Tristan-N do you have anymore information about what kind of actions cause this complete crash?
When this happens it won't even get to server.php so might have something to do with the valet.sock? Not sure though how that works.

[2017-10-03 21:38] lazyguru commented on #77
@jahvi I usually handle this by modifying the index.php file to do the hostname checks:

[code]

[2017-10-03 21:40] lazyguru opened #78 "Commit Magento2Driver to upstream"
Do you have any issues with committing your changes to the Magento2 driver back to the Laravel Valet project?  The Magento community at large would benefit from your updates. If this isn't something you are interested in doing, would it be ok if I went it did it for you?

[2017-10-03 23:03] lazyguru commented on #78
Here is my proposed branch, I've maintained credit by author (though not the original commits): https://github.com/laravel/valet/compare/master...lazyguru:update-magento2-driver-from-valet-plus

[2017-10-04 05:55] jahvi commented on #77
I see I didn't want to edit the index file but it might be the easiest way, at least in development thanks!

[2017-10-04 06:04] timneutkens commented on #78
@lazyguru sure, go ahead! it's all MIT licensed 👌 The `public function configure($devtools, $url) {` can be removed in valet's case since they don't have `valet configure`, we only have that in Valet+ 👍

[2017-10-04 06:04] #78 closed

[2017-10-04 12:38] SanderAtom commented on #49
I see this in `/usr/local/var/log/php-fpm.log`:
[code]
etc, etc.. Whatever I keep raising, the other settings will max out again. So if I raise `pm.max_children` it'll warn about being busy. When I then up the min/max and start_server numbers, eventually I'll run into `pm.max_children` problems again.

It seems specifically bad when there are a ton of requests, like unmerged css/js + image files e

[2017-10-04 12:39] SanderAtom commented on #76
Temp work-around is to comment out those lines I mention above. It won't use caching but it works.

[2017-10-04 12:43] Tristan-N commented on #49
@SanderAtom I don't have real examples. The problem is I am not sure what is happening. When I, for example, want to create a backup from the backend (instead of CLI) it takes up to like 20 seconds before getting the 504 time-out. However, when I just keep waiting suddenly a backup-file is created in the folder it should be. So it seems the processes are still running but 504 is shown in browser.

[2017-10-04 12:55] SanderAtom commented on #49
Ok, but when you get this 504, can you still open other pages? Or you have to restart php before you can do anything on the website?

[2017-10-04 12:59] Tristan-N commented on #49
I do have to restart php to be able to open pages again (valet restart)

[2017-10-04 16:11] drbyte commented on #26
To do this would require at least:

For web:
- configure each version of PHP to have PHP-FPM bind to its own separate socket (different filename), instead of the generic default of `valet.sock`.
- then configure the nginx config for the specific project to link to that specific socket for php-fpm
- (and prevent valet from damaging that override when it rewrites all configs in various commands such

[2017-10-05 07:51] timneutkens commented on #76
Fixed in https://github.com/weprovide/valet-plus/commit/58613888eed808a050f9a73c97ca4d78458b6834

[2017-10-05 07:53] #76 closed

[2017-10-05 08:51] timneutkens commented on #74
Fixed in 1.0.6 https://github.com/weprovide/valet-plus/releases/tag/1.0.6 Thanks for surfacing this 👍

[2017-10-05 08:51] #74 closed

[2017-10-07 23:50] omolto opened #79 "Custom drivers not working"
After updating from 1.0.3 to 1.0.6 custom valet drivers are not working. It seems a cache problem with the path where it is looking for as the first load works but not the following.

Fatal error: Uncaught Error: Class 'xxxxxMagentoValetDriver' not found in /Users/Name/.composer/vendor/weprovide/valet-plus/cli/drivers/ValetDriver.php on line 54
Error: Class 'xxxxxMagentoValetDriver' not found in /

[2017-10-09 06:36] kanduvisla commented on #68
@jerrylopez is right: `.local.` on Mac is reserved and will route all traffic through the Bonjour service first (if I remember correctly). When your frontend will load 300+ assets (like Magento 2 does for example), this has tremendous effect on your performance.

[2017-10-09 06:54] kanduvisla opened #80 "date.timezone error, all of a sudden"
Since this morning I got the following error:

    PHP Warning:  Unknown: Invalid date.timezone value '/var/db/timezone/zoneinfo/Europe/Paris', we selected the timezone 'UTC' for now. in Unknown on line 0

When I looked further, I found that this was caused because the first line of `/usr/local/etc/php/7.0/conf.d/z-performance.ini` was set to this value, and for some reason my PHP version only sta

[2017-10-10 06:09] timneutkens commented on #79
Fixed in 1.0.7 🙌 https://github.com/weprovide/valet-plus/releases/tag/1.0.7

[2017-10-10 06:09] #79 closed

[2017-10-10 06:18] #80 closed

[2017-10-10 06:19] timneutkens commented on #80
Basically we resolve `/etc/localtime`, which is a symlink to a file holding your current timezone data. Then we strip off everything before `Europe/Amsterdam` (or any other timezone) and apply it to the z-performance.ini. This way PHP always has the correct timezone, instead of the standard timezone. In High Sierra they changed the location of the file changed. So I've added the new path 👍 See htt

[2017-10-10 11:25] omolto commented on #79
It works!

[2017-10-10 13:36] timneutkens commented on #79
👍

[2017-10-10 14:01] Aekal opened #81 "MySQL error (HY000/2002)"
I installed valet by following the instructions without any problems, but when i'm trying to create a new database or show a list by typing `valet db ls` I get an error:
[code]

I tried to reinstall mysql and install valet again, but it didn't help.

[2017-10-11 11:12] SanderAtom commented on #49
Using higher numbers for children and start/min/max servers does lower the rate at which php crashes, but I keep getting warnings to increase them. Are there related settings we can try, something like buffer size or something?

[2017-10-11 12:05] abdodaoud commented on #81
I'm facing the same issue :(

[2017-10-13 13:37] SanderAtom commented on #81
Did you have MySQL installed before installing valet+? Because it's failing to connect to your mysql on localhost:
`$link = new mysqli('localhost', 'root', 'root');`

[2017-10-13 14:38] SanderAtom commented on #75
Not exactly sure what the error is you are experiencing, but I do think you should be able to stop all the services when you execute `valet stop`. I've made PR #83 but @timneutkens can decide if this doesn't break anything.

[2017-10-15 19:27] Aekal commented on #81
I completely removed MySQL ([using these instructions](https://gist.github.com/vitorbritto/0555879fe4414d18569d)) before installing valet+. I read that

[2017-10-15 21:42] #81 closed

[2017-10-19 13:36] SanderAtom commented on #61
@timneutkens maybe you can add this to the Wiki?

[2017-10-21 17:53] stevepop commented on #50
I also support making the db password changes configurable. I have been using my DB for years and changing it to root/root will mean I have to change some configs in various dev apps.
+1 for making this configurable

[2017-10-24 10:11] SanderAtom commented on #49
I see this in php.log, not sure if it's related..
[code]

[2017-10-24 17:54] rdorck opened #86 "Valet cannot declare class Brew"
Fatal error: Cannot declare class Brew, because the name is already in use in /Users/rockr/.composer/vendor/weprovide/valet-plus/cli/includes/facades.php on line 32

I have tried to uninstall and reinstall amongst other things to try and get over this, but all failed.
This happens on every single valet command.

[2017-10-25 14:18] SanderAtom commented on #86
Do you still have normal Valet installed?

[2017-10-30 16:48] RobertoGongora opened #87 "If you switch to PHP 5.6, Valet stops working"
➜  ~ valet
PHP Parse error:  syntax error, unexpected '->' (T_OBJECT_OPERATOR) in /Users/roberto/.composer/vendor/tightenco/collect/src/Illuminate/Support/Collection.php on line 155

Parse error: syntax error, unexpected '->' (T_OBJECT_OPERATOR) in /Users/roberto/.composer/vendor/tightenco/collect/src/Illuminate/Support/Collection.php on line 155

------

I guess this has to do with Laravel requir

[2017-10-31 08:28] TomFranssen opened #88 "Magento 1: Add support for multiple store views"
In my old apache config I would create multiple v hosts for multiple store views in Magento.
By adding the `SetEnv MAGE_RUN_CODE "store code"` in the v host the right store view would be selected when browsing to your site. It is possible to add this someway in Valet +? Now I need to manually switch store views if I want to see a different store view.

[2017-10-31 10:59] timneutkens commented on #87
`brew unlink php56` `brew link php70` will allow you to switch.
This issue was already fixed. But due to the way composer works you can't downgrade dependencies. The only way to do that is manually removing the `~/.composer` folder and reinstalling valet+

[2017-10-31 10:59] #87 closed

[2017-10-31 14:10] timneutkens commented on #52
Closing cause of inactivity 👍

[2017-10-31 14:10] #52 closed

[2017-10-31 14:12] timneutkens commented on #63
`valet uninstall` actually only stops all services. The same behaviour as Valet

[2017-10-31 14:12] #63 closed

[2017-10-31 14:13] timneutkens commented on #61
Yeah feel free to add them 👍

[2017-10-31 14:13] #61 closed

[2017-10-31 14:14] #75 closed

[2017-10-31 14:14] timneutkens commented on #86
Closing cause of inactivity

[2017-10-31 14:14] #86 closed

[2017-10-31 17:08] Neodork commented on #49
@SanderAtom and all. Noticed same behaviour (504 gateway timeouts, on pages doing a lot of requests) when installing `weprovide/valet-plus`. `laravel/valet` v2.0 or higher does not cause this behaviour. Spend a lot of time getting to the root of the source here, but eventually a college of mine cracked the problem. He has no Github account so I will post on his behalf, credits to him. But the like

[2017-10-31 18:10] SanderAtom commented on #49
@Neodork thanks for that information, I'll look into it. A quick scan reveals [this thread](https://github.com/krakjoe/apcu/issues/172) about PHP-FPM crashing or processes lingering due to APCu turned on, so that seems promising. Although I do remember turning off features before, including APCu, without any direct improvements but I can't say for sure. I might setup a test situation where this cr

[2017-11-08 02:57] EHLOVader commented on #87
Does this mean that switching to php56 doesn't work?

[2017-11-08 07:38] timneutkens commented on #87
@EHLOVader it does work, just follow the steps I outlined above 👍

[2017-11-08 22:49] Igloczek commented on #77
I think it will be a less dirty way to handle multi stores:
1. Add all stores domains using `valet link` i.e. `valet link second` to point a `second.dev` traffic to the current project
2. Create `LocalValetDriver.php` file in the project root
3. Extend create new `LocalValetDriver` class extending the `Magento2ValetDriver` class
4. Copy the `frontControllerPath` function from https://github.com/we

[2017-11-09 07:20] timneutkens commented on #77
@Igloczek's solution is 👌

[2017-11-09 07:22] timneutkens commented on #77
Though you shouldn't copy `frontControllerPath` instead do something like this:

[code]

[2017-11-09 15:59] Igloczek commented on #77
Thanks, I was looking for something like this! Works like a charm.

Do you think it's possible to store this type of configuration somewhere and add the logic directly to the main driver?
I have a lot multisite stores for both M1/M2, will be great to find out the best possible way and write it down somewhere in the docs.

[2017-11-09 18:11] timneutkens commented on #77
@Igloczek in theory you could read from a json file, I'd be willing to add something like that to the driver, since we have a need for that too at We Provide 👍

[2017-11-09 18:11] timneutkens commented on #77
cc @samgranger

[2017-11-09 21:44] Igloczek commented on #77
Are you thinking about adding a new one, like `multistore.json` at the project root or there is a config file somewhere already and we can extend it?

[2017-11-09 22:33] timneutkens commented on #77
@Igloczek yeah something like that. Or `stores.json`

[2017-11-09 22:49] lazyguru commented on #77
Why not go a little generic and something like `server_vars.json` or `request_vars.json` so that you could pass in things other than just MAGE_RUN_CODE? (could be useful for other drivers)

[2017-11-10 12:49] samgranger commented on #88
Hi Tom,

Please add a LocalValetDriver.php file to the root of your project, ie:

[code]

[2017-11-10 12:50] #88 closed

[2017-11-13 13:03] SanderAtom commented on #49
I'm fairly certain this is the bug we are experiencing. Since turning off PACu 2 weeks ago, I have not had any php-fpm/socket etc hanging like it would before.

[2017-11-13 13:36] Neodork commented on #49
@SanderAtom Thanks for getting back to this. Since you're confirming this solves the problem I will continue to PR this today. Thanks!

[2017-11-13 13:46] SanderAtom commented on #49
Well just turning it off isn't really a fix for the problem. Do you have more information about this conflict between OPcache and APCu? Is it something other people are working on and we can add the fix for it later?
On the other hand, what's the benefit of having APCu and is it important enough to fix the conflict? Otherwise we just need to completely remove APCu.. or OPcache .. ?
Turning it off

[2017-11-13 15:32] Neodork commented on #49
I agree that we should look deeper into the problem. After searching I did not come up with any obvious conflict reports.

I can see the need for APCu and OPCache if the two can operate in harmony. Since APC is deprecated in PHP 5.6+ and replaced with APCu and OPCache.[ As far as the difference go](https://wordpress.stackexchange.com/questions/174317/caching-apc-vs-apcu-vs-opcache):
- APC (PHP 5.5

[2017-11-15 07:30] TomFranssen commented on #88
Thanks Sam :-)

[2017-11-15 15:06] samgranger commented on #68
Does anyone here have an objection if we go with ```.test```? Using a reserved name will prevent future issues. Thumbs up for agree, thumbs down for disagree.

[2017-11-15 15:15] barryvdh commented on #68
Just change to what Valet does, which is `.test`. No need to argue ;)

[2017-11-22 15:10] tombeachell opened #92 "Did not get front controller from driver. Please return a front controller to be executed."
I installed valet-plus, but I get this error, i'm not sure exactly how to resolve it?

[2017-11-22 15:14] #92 closed

[2017-11-29 08:29] geerthoeks commented on #65
Located here: `/usr/local/etc/dnsmasq.conf`

[2017-12-01 10:57] haringsrob opened #93 "Request: Make xdebug autostart configurable"
Hi,

First of all, great work on valet+, it is a great addition to valet especially when working on multiple projects.

However, I have one issue, the xdebug switch is good, but it is to me not as efficient as it should be.

For day to day development, I do not need the autostart, but I do need xdebug to be active. Therefor it would be great to make this an additional switch.

Example:
Currently w

[2017-12-01 15:43] SanderAtom commented on #93
I'm not sure if this solves your problem, but when I untick the 'Start listening for debug connections' button in PhpStorm, no processes hang up. But I can imagine if you use a different IDE this might not work.

[2017-12-02 10:11] haringsrob commented on #93
Hi @SanderAtom,

I use phpstorm and I know I can disable the listener, however this is mostly just turned on for web debugging. I run command line at the same time.

Regards,

[2017-12-07 13:44] samgranger commented on #68
We have changed the TLD to .test in 1.0.10: https://github.com/weprovide/valet-plus/releases/tag/1.0.10

Please run ```valet domain test``` to switch over to .test

[2017-12-07 13:44] #68 closed

[2017-12-07 16:07] adriaanzon commented on #72
I'm getting the same error without sudo.

Shouldn't Valet automatically run using sudo when it's needed?

[2017-12-08 12:05] matt-bailey commented on #49
I don't know if this is related, but I'm also struggling with Magento 2 and valet+ (and the original valet for that matter) hanging completely.

When I visit a site for the first time some of the static content (css, js, images etc) will start to load, but then everything will start 504ing. If I then try to reload the page I just get a 504 gateway timeout message on the page.

I can also see that

[2017-12-08 13:37] matt-bailey commented on #49
Looking into this a bit more I discovered there is an additional file that takes precedence over the settings in `z-performance.ini`.

So if you set `apc.enabled=0` in `/usr/local/etc/php/{php-version}/conf.d/ext-apcu.ini` instead, then it will work.

That issue solved, I now have to figure out some other stuff (now all my static assets are 502ing rather than 504ing) - it doesn't matter how easy/s

[2017-12-10 17:12] kjugi opened #95 "No configuration settings found."
Want to install M2 project and do initial configuration by `valet config` but instead of configuring to Magento2 I have a `No configuration settings found.` response. Before this, I've done `composer install` command and I have `vendor` folder with necessary packages.

My Valet installation is generally working fine, everything was installed without any errors and problems. I can ping any new crea

[2017-12-11 11:21] #95 closed

[2017-12-11 12:23] Tristan-N commented on #92
This happens to me too, but not regularly. If it doesn't work, I can't visit any Valet+ site. Valet install, valet restart, valet use (any version available) all cause the same issue. Sometimes a reboot helps, sometimes it just fix itself. Not sure how or why this is happening. Well, not sure is an understatement: I have no clue at all.

[2017-12-13 08:40] angeloo opened #96 "mailhog https"
How to setup mailhog with https so it will work with the new chrome version which ask for https with .dev domain?

Thanks

[2017-12-13 11:12] samgranger commented on #96
Hi Angeloo,

Please switch to .test instead of .dev.

To do so, please upgrade to the latest version by following these steps:

`composer global update`
`sudo valet domain test`
`valet install`

Then, change all your site configs to reflect the .dev to .test change. Mailhog is now available under mailhog.test

[2017-12-13 13:16] Bl4ckace opened #97 "Did not get front controller from driver."
I recently upgraded to release 1.0.10, that changes the .dev to .test TLD.

This works fine, `ping site.test` returns `127.0.0.1`. However, when visiting a site (either WordPress/Bedrock or Magento 2), Valet-plus returns the "did not get front controller from driver" error.

I did a bit of debugging in `.composer/vendor/weprovide/valet-plus/server.php`. The config is loaded to get the paths define

[2017-12-15 14:31] Tristan-N commented on #97
@Bl4ckace Can you please inform me how you forced valet-plus to check the config.json? As a total noob with this issue (yet again) I'm getting frustrated (same as constantly have to switch php version to run some Magento 1 stores and reinstalling PHP again when I do so, but that's another issue).

[2017-12-15 14:52] Bl4ckace commented on #97
@Tristan-N You don't *really* have to force it. I mentioned it somewhat earlier.

You need to modify `~/.composer/vendor/weprovide/valet-plus/server.php` and comment at line 37 the `$valetSitePath = apcu_fetch('valet_site_path'.$siteName);` and redeclare it as `$valetSitePath = false`.

This would be the value if apcu_fetch returns nothing, instead of the value cached. This does however slow reque

[2017-12-15 14:56] Tristan-N commented on #97
@Bl4ckace Thank you for your comment. My apologies for not paying reading well in the first place.
I know this isn't an answer, but a workaround.

That things are being slowed down a lot is no problem: i can't use it now in the first place. It's completely random. I just got one project working again (removed .valet folder and ran valet install, rebooted PC or switching PHP version: they all might

[2017-12-20 08:31] rakibabu commented on #97
I followed these steps to getting this working:

1. composer global update
2. valet install
3. sudo valet domain local
4. sudo valet domain test

[2017-12-20 08:33] Bl4ckace commented on #97
This working for me, thank you very many.

[2017-12-20 08:35] Tristan-N commented on #97
I noticed after changing .dev to .test (sorry, don't know which issue it was mentioned in), I had to link all the projects again.

cd into projectfolder
valet link

[2017-12-22 12:50] DwayneH commented on #97
I'm closing this issue since a solution has been provided.

[2017-12-22 12:50] #97 closed

[2017-12-22 12:51] #96 closed

[2017-12-23 20:46] Luminus commented on #28
@OgaBoss running `composer global remove laravel/valet` before running `valet install` took care of that for me.

For some reason, though, the tld was set to `.dev` and I had to run `sudo valet domain test` to get everything to play nice.

[2017-12-23 21:05] Luminus commented on #28
Looks like I have version `1.0.3` for some reason even though I only just installed it. Running `composer global update` updated all my composer packages including bumping valet plus to `1.0.10`

[2017-12-29 13:42] MadMikeyB opened #99 "Request: Autosecure default valet provided domains"
[In light of the Chrome HSTS change and Valet's change to .test ](https://github.com/laravel/valet/pull/436)- would it be prudent to configure mailhog, elasticsearch and the other valet+ provided tools to be automatically secure for backward compatibilities sake?

I know that if you opt to use `.dev` rather than `.test` then you run the risk of domain name collisions, however many people will stil

[2017-12-29 15:24] SanderAtom commented on #93
@haringsrob this has been implemented through https://github.com/weprovide/valet-plus/pull/94
You can close the issue if this solves your problem.

[2017-12-29 19:08] haringsrob commented on #93
That is awesome! Thank you. Will save me some time.

[2017-12-29 19:08] #93 closed

[2018-01-02 10:37] Jensderond opened #101 "Mysql: Failed to connect to database"
Hi, I just installed Valet and I'm having trouble importing my databases.

![6a7tg 02-01 iec5z](https://user-images.githubusercontent.com/6972822/34481218-24f93e5a-efb1-11e7-8a15-666d21552ef1.png)

I've removed mysql fully before installing valet+

[2018-01-03 14:51] SanderAtom commented on #101
Hi, what happens when you type `mysql -u root -p root` in your terminal?
Can you check if `~/.my.cnf` exists with different login details than `localhost` and `root` for username and password?

[2018-01-03 14:54] SanderAtom commented on #99
I agree securing mailhog and elasticsearch by default would be nice. Maybe it's even possible to update the SSL certificates when you change the gTLD with `sudo valet domain test`?

[2018-01-04 09:50] Jensderond commented on #101
`mysql -uroot -proot` worked. But `~/.my.cnf` did not exist.
Created it and now it works!

_Content of .my.cnf:_
[code]

[2018-01-04 09:50] #101 closed

[2018-01-14 13:27] kjugi opened #102 "Setting up Prestashop on valet+"
Hi,
Actually, I have added custom config in `nginx/valet` dir where We have also general config to valet or mailhog i.e. My config looks like [this](https://pastebin.com/zfeQZUsv). Nothing special in fact but I think it's not working so good (503 in install steps, redirecting website from admin panel to homepage when want to add a new product or blank homepage in 1.6.x version). Installed also on

[2018-01-14 15:35] samgranger commented on #102
Please take a look at: https://github.com/dalink/laravel-valet-drivers/blob/f4d363a02277624e27d3b10564dc16f5b53d6c12/PrestashopValetDriver.php

Hopefully this driver works for you.

[2018-01-14 22:25] kjugi commented on #102
Checked this solution, must change a little bit with adding `index.php` on the end when it's necessary or not. Otherwise, it's looking good. Now I have a problem with listing all products on Catalog/Products but I think it not related to valet anymore. Will search for the solution or ask some Presta dudes for help. Thanks for this driver!

[2018-01-16 15:06] samgranger commented on #102
Please let me know what the outcome is, and if you do end up tweaking the driver or not. Might be handy to add this to valet-plus so please feel free to shoot in a pull request!

Closing this ticket for now.

[2018-01-16 15:06] #102 closed

[2018-01-17 05:38] iugo-robert opened #103 "Feature request: valet command to create db user"

[2018-01-25 19:06] jonatanolsson commented on #86
Had this problem, solved it by removing old valet from ~/.composer/composer.json (global) if anyone else encounter this problem :)

Also removed all packages and started from fresh, probably because i had old valet in the dependencies. Super stupid human error :P

[2018-02-06 10:57] arnotae opened #105 "Only resolving with 'www.' subdomain"
Since I use valet-plus instead of valet, I can't access any shared domains without 'www.'.
Does anyone have any idea how can I solve this?

![capture d ecran 2018-02-06 a 11 48 49](https://user-images.githubusercontent.com/13433777/35855553-e1060482-0b33-11e8-8543-72a7739f8f28.png)

[code]
[code]

[2018-02-06 11:03] arnotae commented on #105
Nevermind, tried everything on Google but not on laravel/valet, just found : https://github.com/laravel/valet/issues/496

[2018-02-06 11:03] #105 closed

[2018-02-09 08:25] mischabraam opened #106 "Feature request: support HTTP/2 through valet"
HTTP/2 is not available on local dev using valet. If it's configured on the production environment of my site I experience differences. Is it possible to add HTTP/2? Preferably with an on/off functionaillity (no clue if this is possible).

[2018-02-15 22:41] rodmar35 opened #107 "Slim Framework Driver"
Hi
I'm looking for a LocalValetDriver for SlimFramework : https://www.slimframework.com/
Can someone help me ?
thank you very much
RodMar

[2018-02-21 18:00] cagartner opened #108 "Maihog: Did not get front controller from driver."
When I try to access the mailhog domain I receive the default valet error:

Did not get front controller from driver. Please return a front controller to be executed.

Version: Valet+ 1.0.10
Domain: http://mailhog.test/

Can someone help me?

Cheers.

[2018-02-22 21:44] johnhughes1984 opened #109 "Magento 2 error pages not routing correctly"
## Overview
Magento 2's error pages do not route correctly and instead route to a standard Magento 404 page.

## Steps to reproduce
1. Try to visit an error page e.g. 'https://myproject.test/errors/503.php' (or 404/report.php etc.)

## Expected result
- Magento page from error theme should be returned

## Actual result
- Magento standard 404 page returned (not error theme 404 page)

[2018-02-23 14:41] mischabraam commented on #106
Already available when using SSL

[2018-02-23 14:41] #106 closed

[2018-02-25 16:33] awojtczyk opened #112 "Feature request: Pimcore driver"
I'm looking for the Pimcore driver. Any help will be appreciated :)
https://pimcore.com/en
https://pimcore.com/docs

[2018-02-27 23:06] samgranger commented on #108
Does mailhog appear to be running? You can check this by using the following command: `brew services ls`

[2018-02-27 23:06] samgranger commented on #109
Thank you for your pull request, we will be testing this change and will try and get it included in a new release tomorrow.

[2018-02-27 23:26] samgranger commented on #107
Do you have any nice Nginx configuration examples? This will help us with the integration.

[2018-03-01 01:02] agileadam opened #113 "Drupal driver missing $_SERVER['DOCUMENT_ROOT']"
Hello,

I've been having a few issues with some Drupal sites due to not having the $_SERVER['DOCUMENT_ROOT'] environment variable.

Can you please add this to the Drupal driver?

Adding this line to the fallback section of the frontControllerPath() seems to work fine:

`$_SERVER['DOCUMENT_ROOT'] = $sitePath;`

[2018-03-01 09:05] samgranger commented on #113
Thank you for reporting this issue. We will look at adding this change asap.

[2018-03-02 06:37] markitosgv opened #114 "PHP 7.2 error: Unable to determine linked PHP"
Hi!

I'm trying to use Valet with PHP 7.2 but brew says me "Unable to determine linked PHP".

<img width="468" alt="imagen" src="https://user-images.githubusercontent.com/1706470/36886356-460028c0-1dec-11e8-91b5-df558e2c8c14.png">

With PHP 7.0 or 7.1 everything works perfect!

<img width="471" alt="imagen" src="https://user-images.githubusercontent.com/1706470/36886400-7e6d1bd2-1dec-11e8-81d3-137

[2018-03-02 06:39] markitosgv opened #115 "Mailhog doesn't work with custom TLD"
Hi,

I'm using my custom top level domain (TLD) for my local sites, everything works fine except Mailhog throws this message "Did not get front controller from driver. Please return a front controller to be executed."

If I put ".test" TLD domain it works.

[2018-03-02 09:46] TomMeijnaerts commented on #114
This is because brew installs php7.2 under the normal /usr/local/Cellar/php/7.2.xx instead of /usr/local/Cellar/php7.2/7.2.xxx

[2018-03-02 12:48] TomMeijnaerts commented on #114
https://github.com/Homebrew/homebrew-php/commit/8771c68f3ddfee62d9e97177449010c2968f91d1#diff-4739b7cd74be3128a6b717288e740259

Homebrew migrated the php7.2 to the core php ... now valet is broken for 7.2

[2018-03-03 20:14] habnai opened #116 "Use ghost blog local url"
ho I can sevrer ghost instal local when I try url I get :
 Did not get front controller from driver. Please return a front controller to be executed.
how I can make driver for ghost blog to server it via valet+

[2018-03-05 11:08] samgranger commented on #116
Hi there.

 I assume you are referring to https://ghost.org/ - correct me if I'm wrong, but isn't this a NodeJS project? No reason to use Valet+. If you are referring to a different project, please let us know.

[2018-03-05 11:09] samgranger commented on #115
You are correct, this is currently hard coded. We will see if we can make this dynamic.

[2018-03-05 11:34] habnai commented on #116
Yes I mean ghost nodejs project.thank you for reply,I use valet+ for other project and work great just I was I ask about ghost if possible.

[2018-03-05 11:34] #116 closed

[2018-03-05 12:46] jmcerrejon opened #117 "Conclusion: remove symfony/console v4.0.5"
When I try to install Valet+, I get the next error:

[code]

My installed packages:
[code]

[2018-03-06 15:14] iboldurev commented on #117
I have this error to

[2018-03-07 07:36] cmaerz commented on #114
Somehow fixed this with some hardcoded (and broke the version switching). Looking forward for a "real" fix.

[2018-03-07 17:56] fjpires commented on #117
I also have this error

[2018-03-16 13:09] rasmuswikman opened #119 "$_SERVER['SERVER_NAME'] missing for xdebug to function properly"
According to the docs xdebug should work straight out of the box, but I'm having troubles getting it to work in PhpStorm.

Setting a server name in valet.conf works.

In the WordPress driver this is set in frontControllerPath.
https://github.com/weprovide/valet-plus/blob/master/cli/drivers/WordPressValetDriver.php#L30

I'm currently working on a Magento 2 project, and I guess it could be fixed by

[2018-03-16 14:21] rasmuswikman commented on #119
Solved by setting:
        fastcgi_param SERVER_NAME test;
in valet.conf.

Anybody come across this?

[2018-03-22 09:17] anitr commented on #23
How did you solve this problem?

[2018-03-22 09:49] SanderAtom commented on #23
I did not solve the problem, but you should be able to reset the admin password through something like [magerun2](https://github.com/netz98/n98-magerun2#change-customer-password)

[2018-03-22 09:56] anitr commented on #23
Yes, or by changing template to button type="submit". But I wanted to get rid of console errors :(

[2018-03-25 14:49] TorbenL commented on #114
I'm facing the same issue. Anything new here? Or is there a workaround beside switching back to 7.1? Appreciate your support!

[2018-03-28 14:35] jahvi opened #121 "Ioncube installation hangs"
I'm trying to switch on ioncube with valet plus but it gets stuck in `[php71-ioncubeloader] Installing`. Even after 30mins it still shows the same message.

I'm not sure what else I can do to help debug this further there are no errors in the terminal.

[2018-03-29 12:07] jurtjee1997 commented on #108
After tje comment `valet db import <filename>` i get the same error `Did not get front controller from driver. Please return a front controller to be executed.`. Any solution?

[2018-03-29 14:29] samgranger commented on #108
@jurtjee1997 do you get this error when trying to visit mailhog.test or does this issue occur with one of your projects? If so, what CMS/framework?

[2018-03-29 14:45] allrude opened #122 "Valet stoped working after a brew Upgrade :-("
Hi after a "recommended" brew upgrade VALET-plus stoped working.

I tried a reinstall and ended in completely uninstalling Valet and Homebrew

Reinstall fails the problem seem to be a icu4c 61.1 compatibility

see:  https://github.com/Homebrew/homebrew-php/issues/4828

and
[https://bugs.php.net/bug.php?id=76153](https://bugs.php.net/bug.php?id=76153)  [http://source.icu-project.org/repos/icu/trunk

[2018-03-30 07:25] remklov commented on #122
I had the same issue. Check this issue: https://github.com/Homebrew/homebrew-php/issues/4831
You have to add the icu4c 61.1 compatibility manually to your phpXX-intl file. Check the comment of Kyslik. This fixed the problem for me.

[2018-03-30 07:27] remklov commented on #114
I have the same problem when switching from php70 to php7.1.

[2018-03-30 10:58] vanpoppel opened #123 "PHP7.1 not working after Homebrew change"
Homebrew has change the way PHP is installed. When you run `brew update` or `brew upgrade`, Valet will return an error: ` Unable to determine linked PHP`

The same issue is happening on default Valet, where there is also an issue with someone describing a temp fix:
https://github.com/laravel/valet/issues/544

I got Valet running properly again with the following changes. (same changes should work

[2018-03-30 11:10] vanpoppel commented on #114
Check if `which php` contains the correct php version. If it does, use `ln -s $(which php) /usr/local/bin/php` to link. (it's still a workaround, but it works)

[2018-03-30 13:59] EirikSl opened #124 "Brew was unable to install [php70-apcu]"
During today installation on step 6:
valet install --with-mariadb

Got few errors in log:

[2018-03-30 15:07] EirikSl commented on #124
Fixed after brew update && brew upgrade.

[2018-03-30 15:07] #124 closed

[2018-04-02 00:20] george-kar opened #126 "Unable to install on MacOS High Sierra"
I can't install I am receiving the following error:

[code]

and when I try to install n98-magerun:

[code]

Any idea?

[2018-04-02 12:00] nachovalera commented on #126
same problem here, it has something to do with this https://github.com/Homebrew/homebrew-php/pull/4798

[2018-04-02 16:04] Neodork commented on #115
I got a PR for this which I shall contribute soon.

[2018-04-02 20:43] Neodork opened #127 "Homebrew/php is deprecated in favor of homebrew/core"
**What is the problem?**
Homebrew/php is deprecated in favor of homebrew/core which now has support for php formulae. Homebrew/core supports the following php versions: 5.6, 7.0, 7.1, 7.2. When people use some valet or brew commands which trigger an update they will brick their valet+ installation. Due to PHP not being able to find the missing extensions which are now managed by PECL.

The new hom

[2018-04-03 08:57] samgranger commented on #127
Thank you for your work so far. We are also trying to push out a fix asap for this issue - your work so far is really appreciated!

[2018-04-03 11:46] Neodork commented on #127
Brew has changed it's stance regarding PHP 7.0 and will now support PHP 7.0. See: https://github.com/Homebrew/homebrew-core/pull/26026#event-1553827401

@samgranger Is there someway we can contribute together? Without making each others work obsolete? Are there any communication channels for contributors?

[2018-04-03 11:53] martisj commented on #127
@Neodork https://gitter.im/ maybe?

[2018-04-03 12:16] Neodork commented on #127
@martisj Yeah if the owners of the repository could set that up, I'm all down with gitter.

[2018-04-03 12:27] samgranger commented on #127
Setting up gitter now.

[2018-04-03 12:48] samgranger commented on #127
https://gitter.im/valet-plus/

[2018-04-03 13:19] ObSeSSeN commented on #127
We have all bricked our Valet+ installations on our team this morning because of this and our development was halted for a couple of hours. Is there an ETA for a fix?

[2018-04-03 22:26] Januszpl commented on #77
How to make it work if I had previously in nginx this
[code]

and then I had
`pub/static/frontend/VendorName/themename/pl_PL/`
`pub/static/frontend/VendorName/themename-cz/cz_CZ/`

Now I have using valet+ and setting store and type based on request uri as

`pub/static/frontend/VendorName/themename/pl_PL/`
`pub/static/frontend/VendorName/themename/cz_CZ/`

so instead of `themename-cz/cz_CZ` I have

[2018-04-04 06:58] Tjitse-E commented on #127
@ObSeSSeN did you already fix your local installation? I've switched to the original Laravel/Valet, reinstalled Valet and linked PHP@7.1 with `brew link php@7.1 --force --overwrite` and after a restart i've got Valet working again with Magento 2.

[2018-04-04 07:14] ObSeSSeN commented on #127
@Tjitse-E yes but we used MAMP because we need to switch between PHP 5.6 and 7.1 on a regular basis. We will definitely switch back to Valet+ as soon as a fix is released, it is, in my opinion, a faster and more lightweight solution.

[2018-04-04 08:02] Neodork commented on #127
@ObSeSSeN My goal is to finish the new package manager within the next 48 hours. Once completed valet should be operational again for non bricked php installations. I am currently testing the new Pecl extension manager. The current support is:

- PHP 7.2: xdebug, apcu/apc, geoip, opcache.
- PHP 7.1: xdebug, apcu/apc, geoip, opcache.
- PHP 7.0: Not implemented yet.
- PHP 5.6: not supported, apcu im

[2018-04-04 08:14] ObSeSSeN commented on #127
@Neodork that is excellent news, I can't wait! Thank you for all your effort!

[2018-04-04 11:41] ObSeSSeN commented on #127
@Neodork I now already use your latest hotfix version and so far it works great when switching between PHP 5.6 and 7.1.

[2018-04-04 12:28] Neodork commented on #126
Related to https://github.com/weprovide/valet-plus/issues/127

[2018-04-04 12:29] Neodork commented on #123
Related to https://github.com/weprovide/valet-plus/issues/127

[2018-04-04 13:40] Neodork commented on #122
Related to https://github.com/weprovide/valet-plus/issues/127

[2018-04-04 13:41] Neodork commented on #113
I got a PR for this which I shall contribute soon.

[2018-04-04 13:42] Neodork commented on #114
Related to https://github.com/weprovide/valet-plus/issues/127

[2018-04-04 17:50] navidfalla commented on #127
@ObSeSSeN could you tell me how were you able to use the this repo to install valet-plus? I'm trying to do so, but nothing works. I'm thinking to go through the commits and revise the files of a new installation of weprovide/valet-plus one by one. Did you do it in a more efficient way?

[2018-04-04 18:11] ObSeSSeN commented on #127
@navidfalla I had Valet+ installed globally by Composer, then I went into the ~/.composer/global folder and replaced the valet-plus folder by cloning a new one from the tamtamnl/valet-plus repo. I then moved into the valet-plus folder and checked out the hotfix/homebrew-core-php branch. The last step was to do a composer install inside the same folder.

Quick and dirty I know but it will do until

[2018-04-05 09:04] ObSeSSeN commented on #127
@Neodork I haven't tested this thoroughly but I think there is a problem when switching PHP versions (eg. from 5.6 to 7.1) in that the Nginx still uses the 7.0 version. I did the switch and in the console the php -v command outputs the 7.1.16 version from brew but if I output phpinfo() on my website it says that the version is 7.0.27.

[2018-04-05 09:09] jahvi commented on #127
@navidfalla You can change your global composer file to use the `hotfix` branch for now as a "cleaner" way to try it, your composer.json file should look something like this:

[code]

[2018-04-05 09:24] code2prog commented on #127
did not work :/
![2018-04-05_10-23-38](https://user-images.githubusercontent.com/22845213/38357825-8f9bc446-38bb-11e8-9e2e-07fa426a3362.png)

[2018-04-05 11:09] Neodork commented on #127
@code2prog First you need to remove your weprovide/valet-plus and then do composer global update.

Then add the lines as mentioned by @jahvi however you need to change a small typo:

[code]

[2018-04-05 11:57] Tjitse-E commented on #127
@Neodork i've just tested your fork (branch `dev-hotfix/homebrew-core-php`) and Valet is working correctly again, including Xdebug. I did had to remove my old PECL folder manually, also a reboot of my mac was needed to get things running again. Many thanks!

[2018-04-05 12:11] Neodork commented on #127
**How do I unbrick my PHP installation for Valet+ to work?**
P.S: We will add this to Valet+ soon, so when someone uses valet use {version} it will trigger the fix automatically.

1. Make sure all old PHP homebrew/php packages are removed:
[code]
P.S: Do not uninstall php71 for now. n98magerun2 has a dependency for it.

2. Install Valet+ default php version:
[code]

3. Restart the terminal (someti

[2018-04-05 14:49] samgranger commented on #127
Just thinking out loud here, would it be prettier to add to valet install instead of switch/fix?

[2018-04-05 14:56] jahvi commented on #127
@Neodork Thanks I should have tested it before commenting 😅

Any reason why the package name should be `dept/valet-plus` instead of `weprovide/valet-plus`?

[2018-04-05 15:13] Neodork commented on #127
@samgranger Agreed, will add check into valet install (PhpFpm#install()) instead.

@jahvi That is because our company name is dept (even though github says tamtamnl, we actually renamed to dept the 3rd of april). The default branch of the repository is master-dept, which is a branch with changes only for usage within dept. Because the default branch is master-dept and not master the repository wil

[2018-04-05 15:53] jahvi commented on #127
@Neodork Ah that makes sense, thanks!

[2018-04-05 16:33] markitosgv commented on #127
Hi,

Im trying to install from zero valet+.

First i've installed php 7.1.16 from homebrew/core, then I follow [#127 comment](https://github.com/weprovide/valet-plus/issues/127#issuecomment-378900526).

When I try to install valet+ throws this error: "Could not find installation path for: apc"

php -v output:

[code]

php -m

[code]

Do you know what's wrong?

[2018-04-05 16:41] davidstillson commented on #127
@Tjitse-E What folder did you have to remove when you got rid of PECL?

[2018-04-06 06:03] Tjitse-E commented on #127
@davidstillson, I think it was `/usr/local/share/pear`, but I'm not 100% sure. It contained only two empty folders in my case, so it was safe to delete. Maybe you can try renaming it first to see if it works? I had the same error as @markitosgv ('Could not find installation path for ...)

[2018-04-06 06:30] ArjenMiedema commented on #127
Just wanted to say thanks for this fix and your work on it. For now, the fix from @Neodork works for me.

[2018-04-06 09:32] kevmt commented on #127
I saw this package after I got this `homebrew/core` thing changed, and I do wish they don't do this kind of thing again, enough said. I would love to see this merge to `weprovide/valet-plus` soon so monday could jump start things each of our dev again. Currently using Laravel's valet, and I was able to document my installation [script](https://gist.github.com/kevmt/1260e58fc94c8194c24d8468fb079da6

[2018-04-06 15:10] Deejay-Ste commented on #127
Hi guys,

I'm trying everything to make my Valet+ work for 2 days now but it doesn't want to. I tried @Neodork fix but I have the same problem as @markitosgv with another module :

`"Could not find installation path for: geoip"`

I have the same version of PHP with the same modules, except geoip. So I try to install it through PECL manually using `pecl install geoip` but I have this error :

`ERRO

[2018-04-06 18:15] Neodork commented on #127
@ArjenMiedema My pleasure, the community has been very positive! I appreciate everyone that has shown their appreciation for the upcoming PR.

@others I will look through the comments as soon as I have some more time. Today I couldn't find any. Good news is I have a WIP implementation for custom PECL packages like Ioncube. I am currently working on the install/uninstall. I hope to have the PR read

[2018-04-07 20:05] amcastror commented on #126
Hi @george-kar, were you able to fix it??

thanks.

[2018-04-07 20:12] george-kar commented on #126
@amcastror I spent lot of time and I couldn't find a solution. I think it's final, this project is not working with the latest version of Mac OS. Developers are blind or they don't care.

[2018-04-08 00:08] MaxSouza commented on #127
For me, when execute valet install return:

![image](https://user-images.githubusercontent.com/5350377/38461487-c0111516-3aa7-11e8-9e78-b0a3a4bb385c.png)

[2018-04-08 13:07] Neodork commented on #127
@markitosgv That's an error when PECL couldn't install apcu_bc. Apparently there is a problem when running `pecl install apcu_bc`. You could run it manually to get more information on the error. I will look into improving the indescriptive error messages.

@Deejay-Ste Same as above and as @davidstillson mentions `pecl install geoip` is the command to check what goes wrong in your installation.

@M

[2018-04-08 13:15] davidstillson commented on #127
@Neodork Thanks for all the great work on this, btw.  You are literally saving my productivity. :-)

[2018-04-08 14:07] MaxSouza commented on #127
@Neodork Thanks for all the great work.

[2018-04-08 14:54] amcastror commented on #127
Hi @Neodork, thanks for all the work.

This means that we should try and install n98magerun before valet+, and then the install will complete? Do you happen to know how this could be done?

Thanks a lot!

[2018-04-08 14:59] Neodork commented on #127
@davidstillson @MaxSouza As always, my pleasure!

@amcastror If you download the latest version from my hotfix (as mentioned in https://github.com/weprovide/valet-plus/issues/127#issuecomment-378900526) the n98-magerun devtools will be removed from the `valet install` command. You will then be able to do `valet install` again without getting an error about it.

[2018-04-08 16:03] jahvi commented on #127
@Neodork I can confirm Ioncube is working for me now, thanks!

[2018-04-08 18:37] samgranger commented on #127
Running `pecl channel-update pecl.php.net` probably solves most errors related to apc.

In some scenarios you need to run `brew install geoip` before you can run `pecl install geoip`.

People getting phpize errors, please run `brew install autoconf`

[2018-04-09 07:38] Neodork commented on #127
@jahvi Thanks for checking that for me, I appreciate your swift response.

[2018-04-09 07:56] Deejay-Ste commented on #127
Thanks @Neodork @davidstillson and @samgranger ! You saved the day !

[2018-04-09 15:13] wowcut commented on #127
What is the status on this? Brew upgrade broke all dev machines here!

Regarding the procss: wasn't it possible to view this change coming by watching beta versions of brew? I know "we are all hobbyists etc..." but how could this come in that surprising way??? This is not meant as a rant but I would like to know what could be done in future by less active and more 'consumers' of this project to pr

[2018-04-09 15:31] Neodork commented on #127
@wowcut Officially this is just a fork of [laravel/valet](https://github.com/laravel/valet) so I would've expected laravel/valet to have fix ready. That was not the case. But I had need for this fix myself in the easter weekend (was going to work on some sites) so started myself. There were no existing PR's or assigned issues at the time. I am unsure what the upstream is doing about it but I am ke

[2018-04-09 15:44] wowcut commented on #127
BTW: why does happen so much in server.php? Wouldn't it be wise to make these install scripts just add another vhost like configured and not intercept each and every request with server.php?

E.g. why is server.php using apcu_fetch() for each and every request?

I really would like to read more about the reasoning behind server.php - this is not the first time everything I wanted to do today is bl

[2018-04-09 17:08] EHLOVader commented on #127
server.php is there because it provides a way to manage the location of the webroot using a driver based system. You can see the history of it on laravel/valet here https://github.com/laravel/valet/commits/master?after=74e203e37b9549b364feda1920e91e3156f38ad9+34&path%5B%5D=server.php

I would say the apc cache was added to improve performance. Here is the commit when it was added https://github.co

[2018-04-10 10:31] Neodork commented on #127
Just rebased the PR and added binary management for `n98-magerun`, `n98-magerun2` and `drush launcher`. Will now proceed to format the changes and rebase again with the upstream.

[2018-04-10 15:53] Neodork commented on #108
Related to https://github.com/weprovide/valet-plus/issues/115.

[2018-04-10 16:27] samgranger commented on #127
I think we can all say that we're very grateful for all the hard work @Neodork!

We have created a new release with your PR. Please run the following commands after upgrading to this new version: `valet fix` followed by `valet install`. Please create a new ticket for any issues you may encounter while upgrading.

[2018-04-10 16:28] samgranger commented on #126
We have created a new release that addresses this issue, solution provided by @Neodork

Please upgrade and run `valet fix` followed by `valet install`.

[2018-04-10 16:28] #126 closed

[2018-04-10 16:28] samgranger commented on #123
We have created a new release that addresses this issue, solution provided by @Neodork

Please upgrade and run valet fix followed by valet install.

[2018-04-10 16:28] #123 closed

[2018-04-10 16:28] samgranger commented on #122
We have created a new release that addresses this issue, solution provided by @Neodork

Please upgrade and run valet fix followed by valet install.

[2018-04-10 16:28] #122 closed

[2018-04-10 16:57] guarinogabriel opened #131 "Could not find installation path for: apc"
Hi everyone,

I appreciate the hard work from all the contributors that have been focused on resolving the homebrew/core issue.

I tried to install Valet+ from scratch on my Mac when the fix was merged into develop, but I found the following issues:

1. I followed the installation instructions but the **valet fix** command didn't work:
![1](https://user-images.githubusercontent.com/1928452/3857134

[2018-04-10 17:10] allrude commented on #127
Clean install still gives me problems :-(

[code]

[2018-04-10 17:33] allrude commented on #131
I also tried a clean install, but my installation already crashes on de n98-magerun and the valet fix command ... is not defined, I removed everything, started again from scratch an got the same result'

Perhaps it works for upgrade but for me that ship was already sailed after trying again and again to get valet plus up and running.

So hoping that the guy who do all the (magic) good work will fi

[2018-04-10 17:39] allrude commented on #122
Nice to have all the post regarding the Homebrew and PHP problems closed, but since the problem has not been solved .....

[2018-04-10 18:37] Neodork commented on #131
@guarinogabriel Looks like apcu_bc is failing to install could you run the following commands:

`php -v`
`pecl list`
`cat /usr/local/etc/php/{YOUR_VERSION}/php.ini`
if PHP 7.0 or greater: `pecl install apcu_bc`
If PHP 5.6: `pecl install apc`

[2018-04-10 18:53] Neodork commented on #127
@allrude Please create a new ticket so we can help you there. But from the looks of it you're running an older version.

[2018-04-10 18:54] aronwp opened #132 "upgrade didn't work"
Hi, I tried upgrading but seems like there's a problem loading files that are not there.

`| => valet install
Failed loading /usr/local/opt/php71-xdebug/xdebug.so:  dlopen(/usr/local/opt/php71-xdebug/xdebug.so, 9): image not found
PHP Warning:  Module 'apcu' already loaded in Unknown on line 0
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/opt/php71-apcu/apcu.so' - dlopen(/u

[2018-04-10 18:55] aronwp commented on #132
I get this running valet fix

| ~ @ AronsMBPRetina (aronwp)
| => valet fix
Failed loading /usr/local/opt/php71-xdebug/xdebug.so:  dlopen(/usr/local/opt/php71-xdebug/xdebug.so, 9): image not found
PHP Warning:  Module 'apcu' already loaded in Unknown on line 0
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/opt/php71-apcu/apcu.so' - dlopen(/usr/local/opt/php71-apcu/apcu.so, 9)

[2018-04-10 19:03] guarinogabriel commented on #131
@Neodork - Thanks for your response. I confirm that I've run `pecl install apcu_bc`.

Unfortunately, the following issue is happening for both the `valet fix` and `valet install` commands:

![5](https://user-images.githubusercontent.com/1928452/38577907-a96899dc-3cd8-11e8-87fd-2e5f5fa3c5f7.png)

[2018-04-10 19:05] Neodork commented on #132
@aronwp for Valet+ to work you will need to first have an working PHP 7.1 installation. Bear with me while I manually walk you through fixen your PHP 7.1 installation. I've also explained how to fix your php in [this comment](https://github.com/weprovide/valet-plus/issues/127#issuecomment-378914908). Bit since you already seem to have PHP 7.1 linked we'll start a bit further.

First you will need

[2018-04-10 19:10] Neodork commented on #131
Could you show me the output of `ls -la /usr/local/etc/php/{PHP_VERSION}/conf.d/`

[2018-04-10 19:12] guarinogabriel commented on #131
@Neodork - Sure, here is the output:

![6](https://user-images.githubusercontent.com/1928452/38578292-e5346e7c-3cd9-11e8-950c-9435e0bd4cee.png)

[2018-04-10 19:16] Neodork commented on #131
Euhm, just to let you know I am looking for the following directive `extension="apcu.so"`. My next guess would be your php.ini. Please show me `cat /usr/local/etc/php/{YOUR_VERSION}/php.ini`

[2018-04-10 19:25] Neodork commented on #131
@guarinogabriel Please remove the top 3 instructions and save the file. Remove all extension= from the top 3 lines. Then show me `php -v`.

[2018-04-10 19:27] guarinogabriel commented on #131
@Neodork - I removed those lines. Here is the output of that command:

![7](https://user-images.githubusercontent.com/1928452/38578999-06874d0e-3cdc-11e8-85d6-9362b504b41e.png)

[2018-04-10 19:27] Neodork commented on #131
Good now run `valet fix` and `valet install`.

[2018-04-10 19:34] guarinogabriel commented on #131
@Neodork - Here is the output of the `valet fix` command:

![8](https://user-images.githubusercontent.com/1928452/38579282-e6fa44e0-3cdc-11e8-93b1-18d0682a693a.png)

And here is the output of the `valet install` command:
![9](https://user-images.githubusercontent.com/1928452/38579306-f2249c08-3cdc-11e8-8ad8-049d8785a46c.png)

What do you recommend next?

[2018-04-10 19:35] Neodork commented on #131
Show me `pecl install geoip` and `pecl list`.

[2018-04-10 19:37] guarinogabriel commented on #131
Here is the output for both commands:

![10](https://user-images.githubusercontent.com/1928452/38579466-8250e3ea-3cdd-11e8-95ca-8e533e33ef01.png)

[2018-04-10 19:39] Neodork commented on #131
Please do `brew install geoip` and `valet install` again.

[2018-04-10 19:58] guarinogabriel commented on #131
Thanks so much @Neodork - Valet has been successfully installed.

![11](https://user-images.githubusercontent.com/1928452/38580432-551959e0-3ce0-11e8-81a3-7756c286fe43.png)

I will close the issue now, thanks again.

[2018-04-10 19:58] #131 closed

[2018-04-10 20:40] aronwp commented on #132
Thanks @Neodork I was able to get it fixed on 2 machines. I had to follow the instructions in [this comment](https://github.com/weprovide/valet-plus/issues/127#issuecomment-378914908)

One of the machines needed to remove the following 3 lines in /usr/local/etc/php/7.1/php.ini as noted in [this issue ](https://github.com/weprovide/valet-plus/issues/131)

extension="apcu.so"
extension="apc.so"
exte

[2018-04-10 20:40] #132 closed

[2018-04-10 21:26] samgranger commented on #119
Thanks for your report - seems like this will be simple to resolve!

[2018-04-10 21:27] samgranger commented on #115
Thanks for reporting, closing this issue as @Neodork provided us with a PR that should solve this issue.

[2018-04-10 21:27] #115 closed

[2018-04-10 21:30] samgranger commented on #113
Thanks for your report! We have received and merged the PR that @Neodork provided us.

[2018-04-10 21:30] #113 closed

[2018-04-10 21:31] samgranger commented on #109
Merged - sorry that we didn't get this released as soon as we wanted to - this will be included in the next release.

[2018-04-11 01:00] MaxSouza opened #133 "Fatal error: Call to undefined function apcu_fetch()"
Hello everyone,

Valet works for me on php 7.1, but when i will change php(7.1 to 5.6) - (valet use 5.6)

![image](https://user-images.githubusercontent.com/5350377/38590880-4801a1a2-3d0a-11e8-80fc-bcaab1671989.png)

when i ran app, return:
![image](https://user-images.githubusercontent.com/5350377/38590821-f5cfe5ce-3d09-11e8-9395-e04343f3a4ac.png)

Fatal error: Call to undefined function apcu_fet

[2018-04-11 01:01] MaxSouza commented on #133
pecl list

![image](https://user-images.githubusercontent.com/5350377/38590943-a4da5a36-3d0a-11e8-95f8-754f50242b79.png)

[2018-04-11 06:40] Neodork commented on #133
@MaxSouza Please show me the output of `cat /usr/local/etc/php/{YOUR_VERSION}/conf.d/z-performance.ini`, `php -v` and `ls -la /usr/local/etc/php/{YOUR_VERSION}/conf.d`.

[2018-04-11 07:24] Neodork opened #134 "PECL manager pear directory improvements"
**What is the problem?**
Introduced by https://github.com/weprovide/valet-plus/issues/127.

After PECL installs modules and a user switches PHP version, the modules from the old version will still show as installed. To solve this we disable all active modules before switching PHP versions. And then enable all modules for the PHP version you're switching to. The install phase is rather slow and slo

[2018-04-11 07:35] Neodork opened #135 "Devtools does not install GEOIP"
**What is the problem?**
The devtools manager does not install `geoip` through brew. This causes the installation of the PECL module `geoip` to fail due to missing libraries on the system.

**What to do?**
- [x] Add `geoip` to devtools manager.
- [x] Add uninstall for devtools manager.

[2018-04-11 07:40] Neodork opened #136 "Valet fix cannot be run before valet install"
**What is the problem?**
The documentation asks `valet fix` to be run before `valet install`. But the `valet fix` command is within the installed commands clause. Thus when valet-plus has not been installed yet running `valet fix` is impossible.

**What to do?**
- [x] Move command out of installed clause.

[2018-04-11 08:38] samsycamore commented on #117
If you have laravel/valet installed, running "composer global remove laravel/valet" fixed this for me.

[2018-04-11 09:06] Fgruntjes commented on #123
Thanks guys for the hard work on this!

[2018-04-11 10:42] Neodork opened #139 "PECL installed state does not equal PHP installed state"
**What is the problem**
The PECL manager's installed state does not equal that of php. Which causes PECL to have enabled modules, while not added in the php.ini. Valet+ will not install PECL extensions correctly until the lingering PECL packages have been removed. Valet+ sees the package as installed but hasn't added any extension="" lines in the php.ini.

**What to do?**
- [X] Add enabled state
-

[2018-04-11 11:44] MaxSouza commented on #133
**z-performance.ini**

; Add America/Sao_Paulo string for replacing with machine timezone
date.timezone = "America/Sao_Paulo"

; Max execution time per request
max_execution_time = 300

; Max memory per instance
memory_limit = 128M

;The maximum size of an uploaded file.
upload_max_filesize = 128M

;Sets max size of post data allowed. This setting also affects file upload. To upload large files, t

[2018-04-11 11:45] MaxSouza commented on #133
![image](https://user-images.githubusercontent.com/5350377/38614787-b7397932-3d64-11e8-8c19-0d9b5822c915.png)

[2018-04-11 12:14] Neodork commented on #133
Please run `pecl uninstall apc`, `pecl uninstall apcu` and `pecl uninstall apcu_bc` then run: `valet install` and check your page.

[2018-04-11 12:34] allrude commented on #133
@Neodork I have the same problem (it seems)

Fatal error: Uncaught Error: Call to undefined function apcu_fetch() in /Users/ws-concepts/.composer/vendor/weprovide/valet-plus/server.php:37 Stack trace: #0 {main} thrown in /Users/allrude/.composer/vendor/weprovide/valet-plus/server.php on line 37

So i tried

pecl uninstall apc
pecl/apc not installed

pecl uninstall apcu
Extension apcu disabled in p

[2018-04-11 12:59] Neodork commented on #133
@allrude Are you sure your webserver PHP is 7.1? I've seen machine that kept 5.6 linked. A restart of your computer might do the trick, so other PHP services can die.

[2018-04-11 13:03] MaxSouza commented on #133
@Neodork , Do I have to do this everytime when change version?

Thanks for all

[2018-04-11 13:32] allrude commented on #133
@Neodork , it took two restarts and then it worked, feeling relieved and grateful thanks all you guys for getting Valet+ up and running again

[2018-04-11 14:02] Neodork commented on #133
@MaxSouza Restart should only be required for initial setup. After the restart switching should be on the fly.

@allrude I am happy you got it all working. Happy Valet+-ing!

[2018-04-11 15:58] Neodork commented on #139
So I've looked into this and creating an enabled state will only make things worse. It would for example try to enable an PECL module for a non-compatible PHP version. And then PHP will be broken again. We'll have to wait for the implementation of https://github.com/weprovide/valet-plus/issues/134. And then see if these problems still persist.

In the meanwhile if you've PECL modules installed but

[2018-04-11 15:59] Neodork commented on #135
Pr is merged and ready for release in the 1.0.13 release.

[2018-04-11 15:59] #135 closed

[2018-04-11 16:00] Neodork commented on #136
Pr is merged and ready for release in the 1.0.13 release.

[2018-04-11 16:00] #136 closed

[2018-04-11 16:00] Neodork commented on #127
Pr is merged and has been deployed in the 1.0.12 release.

[2018-04-11 16:00] #127 closed

[2018-04-11 17:09] capitaladot opened #141 "xdebug on fails after upgrade"
[code]

[2018-04-11 18:41] capitaladot opened #142 "valet install fails on pecl apc install"
[code]

[2018-04-11 19:15] josephfusco commented on #142
I get something slightly different when running `valet install`

[code]

[2018-04-11 19:17] capitaladot commented on #142
Mine seemed to get into a weird state trying to use php5.6. I ultimately gave up and am using 7.1.

[2018-04-11 20:25] samgranger commented on #142
@capitaladot could you try restarting your machine? I have noticed that this helps a lot when your CLI is running a different version of PHP compared to the version Valet uses to serve your sites on.

I have merged a few PR's from @Neodork that should solve quite a few issues and have created a fresh new release - could you try upgrading to the newest version and run `valet fix`?

[2018-04-11 20:29] samgranger commented on #141
Hi @capitaladot - it sounds like you still might have some roque ext-* files causing a few hickups - we have released a new version that hopefully will solve at least some of your issues. Feel free to join our gitter chat so we can run a few things by you & assist you with these errors.

[2018-04-11 21:34] samgranger commented on #109
Thank you for your PR - and once again, sorry for taking so long to add this to a release @johnhughes1984 - this has been added to today's release!

[2018-04-11 21:34] #109 closed

[2018-04-11 21:37] samgranger commented on #108
@jurtjee1997 this sounds like a different issue. Since I haven't received any further updates + assuming @cagartner ran `valet domain test` while running on an older release with the hard coded .dev tld + seeing that @Neodork has added support for custom tld's I'll close this issue. If you are still encountering this issue on our newest release, please feel free to create a new ticket!

[2018-04-11 21:37] #108 closed

[2018-04-12 05:56] samgranger commented on #114
Please try our new release. After upgrading, please run ‘valet fix’ followed by ‘valet install’. Please open a new ticket or join our chat on gitter if you encounter any issues.

[2018-04-12 05:56] #114 closed

[2018-04-12 07:01] #117 closed

[2018-04-12 07:58] kanduvisla commented on #127
I tried version 1.0.13 today, but it didn't work flawlesly. I did not have a bricked installation.

So after updating to 1.0.13, I typed: `valet fix`

[code]

After this, I tried `php -v`:

[code]

I thought, perhaps a `valet install` will solve this:

[code]

I also did a `brew upgrade` after this, but now nothing seem to work anymore. Retrying `valet fix` or `valet install` will jost throw a lot

[2018-04-12 08:11] kanduvisla commented on #127
So I was able to fix the library issues by moving `/usr/local/etc/php/7.1/conf.d` to `/usr/local/etc/php/7.1/_conf.d`, and create a new, empty folder `/usr/local/etc/php/7.1/conf.d` and let Valet+ populate it. This works. The only thing that is not changed now is that Nginx does not switch PHP version when I switch using the CLI. Any thoughts on that?

[2018-04-12 08:30] Neodork commented on #127
@kanduvisla great you got it to work. Yes, all the old ext-*.ini files need to be moved (except for the opcache one) deleting the folder as you mentioned will regenerate the folder on install.

[2018-04-12 08:37] Neodork commented on #134
https://github.com/Homebrew/homebrew-core/pull/26137 is merged. If you upgrade your brew you will lose your pecl modules `pecl list` will be empty. Please use `valet install` to reinstall your modules.

[2018-04-12 08:50] kanduvisla commented on #127
@Neodork : shouldn't this be something that also should be done by the `fix`-command? My assumption was that `valet fix` would automagically set everything right for me. I can imagine that this might be challenging for the less tech-savvy people among us.

[2018-04-12 09:44] Neodork commented on #127
@kanduvisla Currently the fix command tries to remove every supported extension (ext-*.ini) file. Then it tries to link the correct PHP. I didn't remove the directories because there might be users with custom configuration within their PHP installation. I found it dangerous.

However I do agree that people that are less into the subject should have an easier way to setup the correct configuration

[2018-04-12 10:03] kanduvisla commented on #127
Fair point, a `--force` and/or a clear notification / instructions for this might be a good solution.

[2018-04-12 12:04] samgranger commented on #142
@capitaladot see: https://github.com/weprovide/valet-plus/pull/140

We have merged this into our latest release so this should give us a better idea on what's happening - hope that we can get your issue resolved swiftly!

[2018-04-12 12:05] samgranger commented on #141
Could you try executing the following command? This should solve the issue above
[code]

[2018-04-12 17:49] ashtonlance commented on #50
Any update on this?

[2018-04-13 01:59] djdesign opened #143 "Fatal error: Call to undefined function apcu_fetch()"
Having same issue as #133 , followed the suggestions but no luck. Any Suggestions?

Fatal error: Call to undefined function apcu_fetch() in /User/r2d2/.composer/vendor/weprovide/valet-plus/server.php on line 37

### env details

<details>
	<summary>php -v</summary>
PHP 7.1.16 (cli) (built: Apr 12 2018 03:28:19) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-20

[2018-04-13 07:35] samgranger commented on #143
Hi @djdesign - sounds like your valet's frontend is still running on a different PHP version than your cli - could you try rebooting your machine as this seems to solve quite a few issues after updating. Let me know if this helps or if you require extra assistance.

[2018-04-13 12:38] djdesign commented on #143
@samgranger I have restarted, but doesn’t help.

[2018-04-13 12:41] FredericMartinez commented on #143
Same problem here, same config.

[2018-04-13 13:34] Neodork commented on #143
Currently working on some improvements for this. @djdesign Are the apcu.so lines added to your php.ini file?

[2018-04-13 13:45] djdesign commented on #143
@Neodork Yes I see It listed at the top.

extension="apc.so"
extension="apcu.so"
extension="geoip.so"

[2018-04-13 13:47] Neodork commented on #143
@djdesign Those are invalid. Remove those and switch back. `valet use 7.1` and `valet use 5.6`

[2018-04-13 13:59] MaxSouza commented on #143
@djdesign Did you try run valet install after valet use?

![image](https://user-images.githubusercontent.com/5350377/38738676-1fd785a6-3f09-11e8-9d1c-f022cdb80947.png)

After run valet use, i need run valet install for working on new version php.

![image](https://user-images.githubusercontent.com/5350377/38738828-868c680c-3f09-11e8-9475-76932eca994a.png)

[2018-04-13 14:03] MaxSouza commented on #143
I don't know if that's the correct procedure

[2018-04-13 14:09] djdesign commented on #143
This is the results I get.
<img width="1502" alt="screen_shot_2018-04-13_at_10_08_00_am" src="https://user-images.githubusercontent.com/6698286/38739373-bf716ea8-3f02-11e8-8108-fcd7f5af0d1c.png">

[2018-04-13 14:17] stefandb opened #145 "different php versions"
Hi everyone,

I have a problem with switching the php version.
valet use works only on the php version of the CLI. the web version is always 7.0.27 not 7.1 after "valet use 7.1".

I reinstalled the php versions and update valet to the latest version.
what do I have to do to get the right version?

[2018-04-13 15:09] Neodork commented on #145
@stefandb Restarting your PC so old processes can die off tends to work. It is very likely you have an old php-fpm instance running your webserver.

[2018-04-13 15:10] allrude commented on #145
@stefandb Yes restarting solved my problem, but I had to do it two times

[2018-04-13 15:10] Neodork commented on #143
@djdesign Could you show me `brew list | grep php`

[2018-04-13 15:27] Neodork commented on #134
Early bird version is available through https://github.com/tamtamnl/valet-plus/tree/hotfix/pecl-pear-dir. This version doesn't uninstall your PECL modules when switching PHP version. Which allows for fast switching. The only problem that's left is setting the correct extension_dir within the PHP ini and deprecate our Pecl#replaceIniDefinition().

[2018-04-13 15:44] djdesign commented on #143
@Neodork ```shell
~/s/v/testing  brew list | grep php
php-cs-fixer
php@7.1
phpunit
[code]

[2018-04-13 15:48] Neodork commented on #143
Oke so no old installations present, that's good. How about `ls -la /usr/local/etc/php/7.0/cond.d/` are there any ext-apcu.ini files present?

[2018-04-13 15:50] djdesign commented on #143
[code]

[2018-04-13 16:47] #145 closed

[2018-04-16 11:56] MadMikeyB commented on #132
FWIW, @Neodork 's command should be

[code]

There's 7.2 references in there when 7.1 is the one we're referencing :)

BUT that fixed it for me so thanks @Neodork

[2018-04-17 09:33] FredericMartinez commented on #143
I solved this problem by uninstalling PHP and Valet Plus.
When you enter `php -v`, you shoud have `command not found`.

Then, reinstall PHP with brew and valet plus.

[2018-04-17 09:38] mmeester opened #147 "Unable to upgrade"
When running `composer global require weprovide/valet-plus:1.0.13` I'm getting the following error

[code]

[2018-04-18 13:32] jellesiderius commented on #112
Would be nice :)

[2018-04-18 13:37] stefan-h-singer commented on #112
For 5.x? I have something okish...

Den ons 18 apr. 2018 15:32Jelle Siderius <notifications@github.com> skrev:

[2018-04-18 14:07] jellesiderius commented on #112
@stefan-h-singer,
Would be nice to see that, if it gets pimcore 5.x up and running.

[2018-04-19 08:08] kanduvisla opened #148 "1.0.13 : Switch PHP versions throws PECL error"
When I switch from PHP versions, I get the following error:

[code]

Full trace:

[code]

The only thing I did recently was that I had to manually install the Imagick-PECL extension. I did this using the default PECL-way.

Now my valet+ setup is broken again :-(
I had to do a `valet restart`, but logically, PHP is now throwing errors when I use methods like `apcu_fetch()` and such.

**minor update

[2018-04-19 08:27] kanduvisla opened #149 "1.0.13 : Unable to determine linked PHP"
I was running on PHP 7.1, but then I wanted to switch to PHP 7.0. But when prompting for my password I changed my mind so I pressed Ctrl+C. Now when I'm trying to switch PHP versions, the following happens:

[code]

I tried `valet restart` and `valet fix` but the problem persists...

[2018-04-19 08:57] stefan-h-singer commented on #112
It's a bit of a hack, but works for us.
LocalValetDriver.php (put this in /web since that's the directory you should link)
`<?php

/** Valet driver for Pimcore 5 */
class LocalValetDriver extends ValetDriver
{
    /**
     * Determine if the driver serves the request.
     *
     * @param  string  $sitePath
     * @param  string  $siteName
     * @param  string  $uri
     * @return bool
     */

[2018-04-19 09:45] kanduvisla commented on #149
Hm, I also seem to trigger this error when I make a type like `valet use 7.` for example. An exception gets thrown but the original link is not restored.

Is it safe to say that this is an issue where _"when a `valet use`-command fails it breaks valet+"_?

[2018-04-19 09:52] stefandb commented on #145
Thanks this fix the problem.

[2018-04-19 11:11] kanduvisla commented on #148
I think I found the core of my issue. Because the default `pecl install apcu_bc`-command threw the same error I started looking in that direction. The pecl server wasn't down, so I thought that maybe it was an caching issue. I finally ended up deleting `/tmp/phar` and like a miracle everything started working perfectly again.

So I'll leave it up to the Valet+ community to determine if this is a b

[2018-04-19 12:42] jellesiderius commented on #112
Great, my 5.x is working now!

[2018-04-19 15:11] igor-imaginemage opened #150 "XDEBUG - Can't debug an external call"
Hi guys, thanks for this amazing tool!

I am not getting to use XDEBUG to debug a custom extension, when I try to add a break point from a call from frontend the debug is not running. I noticed that I can debug the core modules but I am trying in a custom module and it's not working.

Am I missing some step?

If I add to break point the first line of my class it runs a lot of times this file:

<im

[2018-04-19 16:56] Neodork commented on #148
@kanduvisla Thanks for your report. I am unsure on the `"Package "X" Version "Y" does not have REST dependency information available"` error. Lets leave this bug report open for a few days to see if anyone else encounters the same problem.

[2018-04-19 16:57] Neodork commented on #112
@stefan-h-singer Could you provide a PR?

[2018-04-19 17:02] Neodork commented on #150
@igor-imaginemage Are you sure you have the xdebug cookie set? For example with [xdebug helper](https://chrome.google.com/webstore/detail/xdebug-helper/eadndfjplgieldjbigjakmdgkmoaaaoc).

[2018-04-19 17:06] Neodork commented on #149
@kanduvisla This can happen for a number of reasons. But the main one is that there was some error within the PHP installation you're switching to. Which will cause the linking of the php version you're switching to, to fail.

For most MacOS systems, when the linking fails you will revert to your native PHP version. Valet+ cannot determine the php version of a native system. You will need to manua

[2018-04-19 18:53] stefan-h-singer commented on #112
If the above code is fine, sure!

Den tors 19 apr. 2018 18:57Lou van der Laarse <notifications@github.com>
skrev:

[2018-04-20 03:44] igor-imaginemage commented on #150
Thanks for your feedback @Neodork, I tested on Firefox and looks good. Probably it was something wrong with my Chrome. Thank you.

[2018-04-20 03:44] #150 closed

[2018-04-20 06:51] Neodork commented on #112
@stefan-h-singer Yes, looks fine to me. Can't test it but going off the reactions in this thread I would say, yes fine to me.

[2018-04-21 09:03] dkorpar opened #152 "Mailhog doesn't work with custom domain"
That has already been reported in the issue #115 and it's labeled as fixed, but the issue is still present.

With a `test` domain it works correctly, but when using a custom one (`loc` in my example) the following issue occurs:
[code]

Using the latest valet version on High Sierra:
[code]

[2018-04-21 09:36] dkorpar commented on #152
Sorry, after another reinstall it all worked. Not sure how. Closing this issue.

[2018-04-21 09:36] #152 closed

[2018-04-23 07:30] kanduvisla commented on #148
@Neodork, otherwise the deleting of the `/tmp/phar`-folder might be an addition to the `valet fix`-command, because it was the fix in my scenario.

[2018-04-23 10:26] polishedwp opened #153 "Conclusion: remove symfony/console v4.0.8"
Still having problems install. I tried the fixes for the closed issue but does not fix my problem.

`composer global require weprovide/valet-plus
Changed current directory to /Users/webrev/.composer
Using version ^1.0 for weprovide/valet-plus
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could

[2018-04-23 12:14] samgranger commented on #153
Please correct me if I'm wrong, but do you by chance have Laravel's Valet installed? If so, please remove Laravel's version before installing this version.

[2018-04-23 12:16] #112 closed

[2018-04-23 13:58] polishedwp commented on #153
I will check but I believe I uninstalled

[2018-04-23 16:30] polishedwp commented on #153
Ok, so short story fixed.

Long story: valet uninstall I had done previously did not fully work.

I tried: composer global remove laravel/valet but there indications from the console messages that laravel/valet was not in composer.json but laravel/installer installed.

I dug through the .composer directory but was not able to figure it out. Eventually, I moved everything out of the .composer folde

[2018-04-24 08:49] samgranger commented on #153
I'll close this issue since you managed to fix your environment.

[2018-04-24 08:49] #153 closed

[2018-04-24 16:48] complexthings commented on #66
`php bin/magento config:set web/seo/use_rewrites 1`

[2018-04-26 10:00] Neodork commented on #143
I've had contact with @djdesign through google hangouts. The problem was mostly related to having PHP-FPM serving an other version of PHP as the CLI. As mentioned in this thread a few times before. He did have some issues with the DB but I don't think those were related to this issue.

[2018-04-26 15:38] Neodork commented on #147
@mmeester Could you show us the output of `composer global show -i`. This is mostlikely caused by having laravel/valet installed.

[2018-04-28 21:17] rafaelstz opened #157 "Xdebug stop on ~/.composer/vendor/weprovide/valet-plus/server.php"
I'm having this same issue https://github.com/weprovide/valet-plus/issues/150
I would like to know why my PHPStorm is stopping my XDebug on the file `Xdebug stop on ~/.composer/vendor/weprovide/valet-plus/server.php`?
I've tried configuring and not configuring the XDebug on my PHPStorm but doesn't work.

![image](https://user-images.githubusercontent.com/610598/39400948-859f0d06-4b10-11e8-87bd-c97

[2018-04-30 06:36] mmeester commented on #147
This is my output, I don't see laravel/valet anywhere:

[code]

[2018-04-30 08:01] Neodork commented on #147
Please remove `sebastian/version` and try to install `weprovide/valet-plus` again.

[2018-04-30 11:57] Neodork commented on #157
Hi @rafaelstz,

Most of the time xDebug stops at `server.php` due to some PHPSTORM settings or lingering breakpoints. Make sure you have the following unchecked within PHPSTORM:

![https://imgur.com/1SPFuwM](https://imgur.com/1SPFuwM.jpg)

Also occasionally your terminal could get stuck within xDebug. You could solve that by upping your connection limit. This is however more of a preference settin

[2018-05-01 21:02] rafaelstz commented on #157
Done, thanks! 🙌

[2018-05-01 21:02] #157 closed

[2018-05-03 00:39] NicolaLeonardi opened #158 "php.ini errors?"
Hi all,

today I updated my php installation from php 7.1.16 to php 7.1.17 and updated also valet-plus.
I found that the php.ini's first 3 line were pointing to the old php version.

`zend_extension="/usr/local/Cellar/php@7.1/7.1.16/pecl/20160303/xdebug.so"
extension="/usr/local/Cellar/php@7.1/7.1.16/pecl/20160303/geoip.so"
extension="/usr/local/Cellar/php@7.1/7.1.16/pecl/20160303/apcu.so"`

This

[2018-05-03 07:41] Neodork commented on #158
@NicolaLeonardi We've some improvements for these problems ready. The next release should set `extension_dir` within your php.ini file. The extension dir will make sure full paths are not required anymore.

[2018-05-03 07:43] Neodork commented on #134
Merged so closing. Will be available with the next release (1.0.15).

[2018-05-03 07:43] #134 closed

[2018-05-03 09:26] NicolaLeonardi commented on #158
Thank you guys, always the best! Wish there's a donate button

[2018-05-04 04:32] rafaelstz opened #159 "Conflicting server name "mailhog.test" on 0.0.0.0:80, ignored"
I was enjoying this tool, very useful guys, congrats!
But now I'm having an issue, this issue started when I eliminated my login and create another user, I'm unable to access the URL like http://magento2.test/ even if I do the `valet park`, `valet link magento` or `valet fix`... Actually, I have tried to run all commands and uninstall and install again but seems like my NGINX and  PHP are running

[2018-05-04 08:29] Neodork commented on #159
Hey there, running the services as root should not be the problem. I have the same services as root:

[code]

Could you show the output of the following files:
` ~/.valet/Log/nginx-error.log`
`/usr/local/var/log/nginx/access.log`
`/usr/local/var/log/nginx/error.log`

[2018-05-04 12:53] rafaelstz commented on #159
I'm receiving the issue below, thanks for that insight, do you know how could I fix it?

    conflicting server name "mailhog.test" on 0.0.0.0:80, ignored

I'm trying to change the configs.

[2018-05-04 13:06] rafaelstz commented on #159
Seems like just that file has some issue, the other files are:

**access.log**

[code]

**error.log**

[code]

**mailhog.log**

[code]

**php-fpm.log**

[code]

**redis.log**

[code]

[2018-05-04 13:37] rafaelstz commented on #159
I fixed it, I just use:

[code]

[2018-05-04 13:37] #159 closed

[2018-05-04 13:37] alexkoepke opened #160 "Add Switching from Valet to Valet+ to Read.me/Wiki"
Sorry if this has been address already but It's not in the Readme or the Wiki.

Is there a suggested path for moving from valet to valet+? Should one uninstall Valet? or is it safe to install valet+ on top of valet?

[2018-05-04 13:47] MaxSouza commented on #133
Hello everyone,

Yesterday, i switch php version with valet use, but  same error again **Call to undefined function apcu_fetch**

**valet version: 1.0.14**

I  reinstalled valet and php, but when switch php@7.1 for php@7.0

![image](https://user-images.githubusercontent.com/5350377/39631322-3addc8bc-4f88-11e8-8afb-3ec8db5d0bb6.png)
![image](https://user-images.githubusercontent.com/5350377/3963133

[2018-05-04 14:31] MaxSouza commented on #133
I removed pecl modules and reinstall valet in php version 7.0 and worked

[2018-05-04 15:42] jonlambert commented on #133
I've tried removing the pecl modules advised above then running `valet install`, but now I'm getting the following when trying to use php@7.0:

[code]

[2018-05-07 11:59] bsormagec opened #162 "not working with envoy"
it has dependency error with envoy can you fix that ?

[2018-05-07 12:53] clifgriffin commented on #133
I'm getting this same error on a completely fresh install.

Also had the error with the PECL extensions being added to php.ini with no line breaks.

Definitely some kinks to work out here. Reverting to vanilla Valet for now. 🤷‍♂️

[2018-05-08 01:01] rafaelstz commented on #74
I use these commands to fix it.
<img width="995" alt="screen shot 2018-05-07 at 22 00 32" src="https://user-images.githubusercontent.com/610598/39732173-355ed0f4-5242-11e8-98dc-d8e412a98269.png">

[2018-05-09 12:26] wrongspot commented on #158
@Neodork pecl installs the modules into wrong directory. normaly its enough, to name the module in your php.ini like this

`extension="apcu.so"`

without any path. The extension dir from php is normaly clear. your can grap it like this

`php -i | grep extension_dir
extension_dir => /usr/local/Cellar/php@7.1/7.1.16/lib/php/20160303`

so, if your modul is called "apcu.so" than it will be searched in

[2018-05-09 13:14] SanderAtom opened #163 "'valet phpstorm' throws error if git is not initialized"
When you use `valet phpstorm` but there is no git initialized in the folderstructure you're in, you are redirected to PhpStorm but the console throws an error about missing git. Git is used to find the root folder of the project, so you can execute the command from a subfolder, but it should check if git is initialized before using this command. If not, it should just use the current dir.

[2018-05-09 17:32] MaxSouza commented on #133
@clifgriffin Remove all extensions of pecl.

pecl uninstall apcu_bc, apcu and geoip, after this, try valet install

[2018-05-09 17:44] clifgriffin commented on #133
Yeah, I tried that after reading this comment:
https://github.com/weprovide/valet-plus/issues/133#issuecomment-380430233

Not sure if I did geoip at the time or not. 🤷‍♂️

I tried tearing the whole thing completely down, following roughly this guide:
https://tommcfarlin.com/when-valet-stops-working/

But I always ended up back in the same place.

[2018-05-10 22:00] tkrause opened #164 "Update ElasticSearch stop and start"
Currently a very old version of ElasticSearch is the default apparently for magento.

It would be nice to either be able to select the ElasticSearch version like you can with PHP or work with multiple versions like it does right now with php-fpm.

When I'm out and about, I like to shut down my environment to save on battery life. It would be nice not to have to shutdown ElasticSearch separately.

[2018-05-11 07:49] Neodork commented on #164
Brew supports the following elasticsearch versions:

elasticsearch | ✅ | 6.2.4 | Distributed search & analytics engine
elasticsearch@1.7 | ✅ | 1.7.6 | Distributed search & analytics engine
elasticsearch@2.4 | ✅ | 2.4.6 | Distributed search & analytics engine
elasticsearch@5.6 | ✅ | 5.6.9 | Distributed search & analytics engine

Would one of those suffice for Magento?

[2018-05-11 12:35] Neodork commented on #162
@bsormagec Could you leave a url for the project so we can find their `composer.json`?

[2018-05-11 12:38] Neodork commented on #158
@wrongspot The new release should set your extension_dir directive within the php.ini which should configure the correct directory. The extension_dir location is pulled from the pear configuration which upon switching is changes automatically (with the latest brew). So once we roll out a new release it should be solved.

[2018-05-14 08:13] samgranger commented on #158
The new release has been published with @Neodork's pull request, hopefully this solves your issue.

[2018-05-14 08:41] samgranger commented on #147
Has this issue been resolved @mmeester?

[2018-05-14 08:42] samgranger commented on #143
Thanks for helping @djdesign out @Neodork - closing this issue for now.

[2018-05-14 08:42] #143 closed

[2018-05-14 12:15] #149 closed

[2018-05-14 12:16] #148 closed

[2018-05-14 12:16] samgranger commented on #142
Closing this issue, please open a new ticket if you're still encountering issues.

[2018-05-14 12:16] #142 closed

[2018-05-14 12:17] samgranger commented on #141
Closing this issue, please open a new ticket if you're still encountering issues!

[2018-05-14 12:17] #141 closed

[2018-05-14 12:18] samgranger commented on #147
Closing this issue, please open a new ticket if you're still encountering issues.

[2018-05-14 12:18] #147 closed

[2018-05-14 12:45] mmeester commented on #147
Yest, it was magestead that was conflicting

[2018-05-14 12:50] kanduvisla commented on #148
@samgranger : I understand that you're closing this issue after 3 weeks, but this issue still persist in my setup today. I get it at least a couple times every week.

Am I really the only one who experiences this? What did you think about my suggestion to include it in the `valet fix` command?

[2018-05-14 12:57] dkorpar opened #165 "Varnish version"
Valet installs Varnish 6, while only 4 and 5 are supported by Magento 2.
[code]

1. Is there an automated way to define varnish version?
2. Is there an automated way to use Magento varnish configuration?
3. Is there a way to turn it off as it looks that only `install` arg is available?

[2018-05-14 15:01] samgranger commented on #165
Hi there,

It looks like the default version of Varnish was updated to version 6 in March. Varnish was added for Neo & Typo3 and I'm not sure what versions they support - I'll have to look deepter into that. What I'd suggest doing is to remove varnish installed by Valet+ and manually install v4 using brew:
`brew remove varnish`
`brew install varnish@4`

In the meantime I will have to think of a mo

[2018-05-15 03:39] tkrause commented on #164
Based on this issue, 5.x is now supported in Magento.

https://github.com/magento/magento2/issues/13995#issuecomment-384610702

[2018-05-15 03:47] tkrause commented on #160
I recently switched last week, these are the steps I took without issues. All the paths are the same assuming config files haven't been mucked around with.

First you must unrequire valet with `composer global remove laravel/valet`

Then install valet+ with `composer global add weprovide/valet-plus`

Run `valet fix` (I had to restart my shell to reload the path to valet)

Run `valet install`

[2018-05-15 03:50] alexkoepke commented on #160
Thanks! I’ll update if I has success as well.

[2018-05-15 09:04] Egorby commented on #127
How to install php70-tidy now?
[code]

Error:
[code]

[2018-05-15 09:34] Neodork commented on #127
@Egorby I think tidy is packaged within php 5+. You could try installing the brew version: `brew install tidy-html5`.

[2018-05-15 10:18] jellesiderius opened #166 "Unable to determine linked PHP"
Hi,

Im using the newest version (1.0.15) of valet-plus and followed the install guide. I am currently getting this error when running 'valet install' : Unable to determine linked PHP.

What can i do to get this working?

![screen shot 2018-05-15 at 12 17 17](https://user-images.githubusercontent.com/8039493/40051171-1996c734-583a-11e8-9c99-cf3ceab5ae42.png)

[2018-05-15 10:45] #166 closed

[2018-05-15 10:46] jellesiderius commented on #166
Fixed this myself... php.ini was corrupt 👎

[2018-05-15 17:50] dkorpar commented on #165
Thanks for the explanation. I understand it, but I do not get the thing with Varnish as it only gets installed and run as a service.

Entire Valet+ is configured to run on port 80, which is the port that Varnish should listen. What's the idea behind that as all the configurations should be changed and there's a question what other services won't work or upgradeability? Regardless of Magento, shoul

[2018-05-15 18:07] NicolaLeonardi commented on #158
I have to wait for a minor release of php@7.1 to see the effect. But sure I will inform you.

[2018-05-16 13:41] samgranger commented on #164
@tkrause I'll look into this - would be nice to be able to switch ES versions like we can switch PHP.

[2018-05-18 07:38] markitosgv opened #168 "Cannot use PHP 7.2"
When I try to execute

[code]
I throws me next message
Could not find installation path for: apc, make fails.

Whats wrong?

With php@7.1 everything its ok

[2018-05-18 08:46] Neodork commented on #168
@markitosgv seems like APCu is failing to install. You can check the error manually `pecl install apcu` when you're linked to 7.2.

[2018-05-18 15:18] Neodork commented on #148
@kanduvisla I've noticed instability within PECL manager namely relating to the pear configuration. Could you share your `cat /usr/local/etc/php/7.0/pear.conf` file so I can compare?

[2018-05-18 17:11] markitosgv commented on #168
It's failing on pecl apc install, pecl apcu shows me this:

[code]

pecl install apc throws me:

[code]

[2018-05-21 10:19] mystix opened #169 "version no. for tag 1.0.15 should be set to 1.0.15 as well"
https://github.com/weprovide/valet-plus/blob/26bff8c1e166a1929b11e221187da6e751845e4a/cli/valet.php#L24

[2018-05-22 14:21] Neodork commented on #168
If you do `pecl list`, it will probably show apcu or apcu_bc installed. Uninstall both (`pecl uninstall <name>`) and do `valet install` after all apc packages have been removed. You can also check your php.ini for the directive which is in `/usr/local/etc/php/7.2`.

[2018-05-22 16:23] nickbasham opened #170 "Support switching SSL Version from SecureTransport to OpenSSL"
I'm running into issues using WP Migrate Pro to migrate the database from my staging server to my Valet+ local development environment, which seems to be caused by SecureTransport. (See https://deliciousbrains.com/wp-migrate-db-pro/doc/ssl-errors/)

Any chance support for switching to OpenSSL can be added?

Thanks!

[2018-05-22 18:59] samgranger commented on #169
Thanks for your pull request - I couldn't find a way to re-release a tag, so I ended up creating a new 1.0.16 release.

[2018-05-22 18:59] #169 closed

[2018-05-23 06:20] mystix opened #171 "Almost all CLI commands require root password"
I'm not sure why, but running `valet on-latest-version` or even just `valet` alone prompts me for my root password:
[code]

It appears `sudo` is being called behind the scenes, even for commands which shouldn't need to be run as root.

If I'm not wrong, the only command which should require the root password is
[code]

Any idea what can be done to stop this?

[2018-05-23 09:45] Neodork commented on #171
Introduced in https://github.com/weprovide/valet-plus/commit/81ac3c001002712790dd0296f3649f979e5fff0c. Was reverted to laravel/valet standard. If we reintroduce that piece of code in the binary it will cause the following problem:

- Sudo will not be the default for some commands. Some commands will be default sudo, others will default to your user.
- Some commands will be run as the user making C

[2018-05-23 09:49] Neodork opened #172 "Pear config does not always match latest brew config"
**What is the problem?**
pear config does not always match latest brew config. Valet fix needs to check config and write a "valet pear config" file.

**What to do?**
Provide a fix() method within pecl that checks if the config is set correctly. If not correct the fix method should adjust values and write the correct config.

[2018-05-23 10:19] samgranger commented on #172
Merged!

[2018-05-23 10:47] Neodork opened #174 "When switching to a PHP installation to 7.2 brew throws a "is already linked" warning if not installed."
**What is the problem?**
When switching to a PHP 7.2 installation which is not installed brew throws a "is already linked" warning.

**What to do?**
Do not link if switching to a non-installed PHP 7.2 version.

[2018-05-23 11:09] Igloczek commented on #133
I had same problem, but https://github.com/weprovide/valet-plus/issues/133#issuecomment-380430233 help.

Small note:
[code]

[2018-05-23 13:03] #174 closed

[2018-05-23 13:03] #172 closed

[2018-05-23 13:10] Neodork commented on #170
Curl seems to also have moved from `homebrew/php` to `homebrew/core`. There seems to be no switching available: https://formulae.brew.sh/formula/curl

Would the linked curl work for you installation? E.G: `brew uninstall curl && brew untap homebrew/php && brew install curl`

[2018-05-23 13:51] MaxSouza commented on #133
@Igloczek

Try pecl uninstall apcu or apcu_bc,

What is your pecl list? execute pecl list in terminal

[2018-05-23 13:58] Igloczek commented on #133
@MaxSouza I did exactly what this comment said, so remove `apc` `apcu` `apcu_bc`, `valet install` and it works now.

[code]

[2018-05-23 14:14] MaxSouza commented on #133
@Igloczek

Niceee!

Now, when change php version(valet use 5.6) you have to execute valet install again. ;)

[2018-05-23 14:16] clifgriffin commented on #133
@MaxSouza I'm tempted to try this again looking at @Igloczek's success, but the note about re-running `valet install` every time I change the PHP version is concerning. Is this a workaround or intended behavior?

[2018-05-23 14:38] MaxSouza commented on #133
@clifgriffin
I think it's a workaround for me, the correct way isn't  to execute valet install after valet use

[2018-05-23 20:46] JPry commented on #171
Could we add the `trust` command, like Valet did in laravel/valet#502?

[2018-05-23 23:32] iugo-robert opened #176 "Can't enable ioncube without getting errors - failed loading extension and apcu errors"
Before:
$ php -v
PHP 7.2.5 (cli) (built: Apr 26 2018 12:07:07) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.5, Copyright (c) 1999-2018, by Zend Technologies

After running command `valet ioncube on`:

$php -v
PHP Warning:  Failed loading Zend extension 'ioncube_loader_dar_7.2.so' (tried: /usr/local/lib/php/pe

[2018-05-23 23:35] iugo-robert commented on #176
Last few lines from running `valet ioncube on`

[PECL] ioncube_loader_dar_7.2.so was found, moving to extension directory: /usr/local/lib/php/pecl/20170718
[PECL] Adding ioncube_loader_dar_7.2.so to php.ini...
ioncube_loader_dar successfully installed
[php@7.2] Restarting

I've found that the ioncube_loader_dar_7.2.so file does not exist.

[2018-05-24 15:15] nickbasham commented on #170
I'm not an expert in brew and compiling/reconfiguring all of this, but I believe curl is being used through the plugin so I think it has to be part of the compiled PHP, and I'm not sure how to or if I can link to Homebrew's curl in PHP.

[2018-05-25 08:28] Neodork commented on #176
@iugo-robert I've looked into this and confirmed it to be a permissions issue with the downloaded file. Next release should have a fix. A manual solution would be to move the ioncube_loader_7.2.so file to the extension directory `pecl config-show ext_dir`.

[2018-05-28 16:13] rafaelstz commented on #166
You can use this command below to fix it:

    brew link php@7.1 --force --overwrite

[2018-05-28 17:28] rafaelstz commented on #56
I fixed it, using these commands:

[code]

[2018-05-30 12:51] imadphp opened #177 "Sometimes valet.sock file doesn't refresh"

[2018-05-30 13:20] Neodork commented on #177
Hey could you please add instructions for reproducing the issue?

[2018-05-30 13:57] abbatis commented on #177
Hi @Neodork. I'm not sure how to reproduce this issue. However, I'll work on this myself, later this week. For more info please check Gitter. I discussed this with @samgranger

[2018-05-30 14:03] Neodork commented on #177
Sure thing lets leave it open to see if someone else has more insight on it. My guess would be something permission related.

[2018-05-30 14:10] abbatis commented on #177
Basically tried everything. I even chmod'ed valet.sock tot 777 Maybe it doesn't hurt to always explicitly `unlink` valet.sock when switching. That was initially my idea, because removing this file basically forces a refresh. I don't have this problem on my machine, but several colleagues do and I'm trying to fix it for them.

[2018-05-30 14:18] Neodork commented on #177
You could try something like `sudo brew services restart php@{Version}` and see if that regenerates is correctly. Notice I used sudo there.

[2018-05-30 14:33] abbatis commented on #177
Nope, doesn't work unfortunately. How'd you feel about an explicit unlink on every switch? Shall I implement that. It's about the only idea I have. 😄

[2018-05-31 07:52] ceesvanegmond commented on #133
Same problem here. Need to remove all PECL extensions after using `valet use`. After that valet install again. Bit of a workaround now. How we fix?

[2018-05-31 10:39] Neodork commented on #177
I'd like to know the cause of the problem first before we implement a workaround like that. Lets leave this open for now and if the problem persist we will have to either implement the workaround or spend more time researching the cause.

[2018-05-31 10:48] Neodork commented on #171
@JPry I'll look into that change, we should be able to merge upstream for it. It will probably achieve the requested result at first glance.

[2018-06-01 08:37] OZZlE opened #179 "Brew was unable to install [wp-cli]"
Valet install fails with this.. I guess it's some wordpress thing? I don't even want to use wordpress..

[code]

[2018-06-01 08:53] OZZlE commented on #179
https://make.wordpress.org/cli/handbook/installing/

Can it be optional to even install this?

[2018-06-01 09:42] Neodork commented on #179
That's is a security feature that prevents Valet-plus from installing a binary with a different sha then the original released file. I'll look into this the .phar might've had a re-release changing its sha value.

Yes I agree that Valet-plus is packing a lot of features and in time we should create some sort of configuration which allows you to disable features you don't want/need.

[2018-06-01 14:51] falko189 commented on #179
Hi guys, I am there as well not sure how to work around this issue :(

[2018-06-01 15:55] Neodork commented on #179
Currently there is no workaround except for modifying the code. Which is why I think @OZZlE suggestion of being able to disable features you don't want valet-plus to install is a nice addition. If we want to go real in-depth we could also add a feature that disables the security around binary installations. But a feature like that would be dangerous to the user and should require a separate comman

[2018-06-02 05:39] papakay opened #181 "Parked paths not working"
I parked /Library/WebServer/Documents and ``valet paths`` gives the following response

[code]

When i enter mysites.test in the browser it shows the index file in /Library/Webserver/Documents instead of showing the content of the /Library/Webserver/Documents/mysites folder inside

Please how i fix this.

OS: Mac OSX High Sierra
version: Latest Valet plus

[2018-06-02 05:43] papakay commented on #181
After trying ``valet open`` from inside the folder, it opened the browser but throw an error.

[code]

[2018-06-02 14:54] FredericMartinez commented on #179
Same here:

[code]

[2018-06-02 16:52] OZZlE commented on #179
I made a PR to fix it here: https://github.com/weprovide/valet-plus/pull/183

Seems like using it via homebrew is deprecated.

[2018-06-04 19:33] MaxSouza commented on #181
Did you see this issue #133?

[2018-06-04 19:34] alexkoepke commented on #160
@tkrause I finally got around to trying this out. Unfortunately, it did not go smoothly. I ran into `Uncaught Error: Call to undefined function apcu_fetch()` errors that are documented in #133  and #143 that I was not able to resolve. So now I begin my quest to unbreak my machine which is sad because I really wanted to use this project.

With that said if anyone has any tips I would greatly apprec

[2018-06-04 19:37] papakay commented on #181
I'm sorry i didn't see it before posting this. However I tried all the solutions mentioned but none worked for me.

I was forced to go for Laravel Valet instead since there was no much time on my side.

Thanks immensely.

[2018-06-04 19:37] #181 closed

[2018-06-05 09:11] falko189 commented on #133
Hi I am still getting this with the laster version, I am looping on this workaround..delete pecl install valet plus getting the error and so on. I think it has to be with brew?

Thanks for the help

[2018-06-05 09:13] viktorbijlenga commented on #47
One simple way to add this manually would be.

1. Install Pimp My Log
`composer global require "potsky/pimp-my-log"`
2. Create a domain for it, using Valet Plus
`cd /Users/$USER/.composer/vendor/potsky/pimp-my-log && valet link`
3. Visit `pimp-my-log.test` in your browser and follow the step-by-step instructions.

[2018-06-05 13:20] wiardvanrij opened #185 "POST requests becomes GET"
Since the latest release POST requests are handled as GET requests.

You can notice this when writing a decent API using strict methods. On the latest version I receive a HTTP 405 Method Not Allowed error on my POST requests. Saying method GET is not allowed.

When downgrading from 1.0.16 to 1.0.15 this issue is resolved.

[2018-06-05 13:51] Neodork commented on #185
@wiardvanrij What driver are you using?

[2018-06-05 14:59] wiardvanrij commented on #185
@Neodork Symfony driver, non custom

[2018-06-08 00:59] guarinogabriel opened #186 "Mailhog not working on custom domain"
Hi everyone,

I am using the latest version of Valet Plus, and I am currently experiencing an issue with Mailhog.

Here is a screenshot of the Mailhog panel:
![mailhog](https://user-images.githubusercontent.com/1928452/41133486-9273d7bc-6a9d-11e8-95c8-57e944a6ce2c.png)

I am using a custom domain (.localhost instead of .local), and I already tried to resolve the issue by running:

1. `composer glo

[2018-06-08 16:27] dgtllion opened #187 "Can't match PHP version."
Can someone help me with that error? I have php installed via brew like it is told in the installation guide but i am facing those errors when i run this command:

user@macbook~$ **valet fix**
Password:
Removing all old php56- packages from homebrew/php tap
Error: Running Homebrew as root is extremely dangerous and no longer supported.
As Homebrew does not drop privileges on installation you would

[2018-06-08 16:37] Neodork commented on #187
Those brew errors are false positives. The fix is already proposed within a pending PR. Continue with the guide.

You can ignore those for now, are there any other problems you're facing?

[2018-06-08 16:42] Neodork commented on #186
Could you try another domain instead of localhost? It might conflict with reserver words here and there, I am not sure though. Are there any Javascript errors thrown?

[2018-06-08 17:11] Neodork commented on #185
@wiardvanrij I am not seeing an changes within the Symfony driver for over a year. Could the cause be webserver or application related?

[2018-06-08 17:21] luukschakenraad commented on #133
Same here. Everytime after `valet use` the apcu error... Running `pecl uninstall apc && pecl uninstall apcu && pecl uninstall apcu_bc && valet install` fixes the issue untill the next `valet use`.

[2018-06-09 09:32] rglepper commented on #49
Hi, I was getting errors with APCu after switching the PHP version from 7.0 to 7.1 with `valet use` following [this article](https://medium.com/@jjdanek/installing-php-extensions-on-mac-after-homebrew-acfddd6be602) seems to have fixed the issue. Probably not a solution, but thought I'd mention it.

[2018-06-09 14:34] dgtllion commented on #187
i've found my issue i haven't added `--force` to my `brew link php71 --force`

[2018-06-09 14:34] #187 closed

[2018-06-11 08:14] luukschakenraad opened #189 "Valet fix not working anymore"
`valet fix` tries to run Homebrew as root, which is not allowed (anymore):

[code]

[2018-06-11 08:52] Neodork commented on #189
Fixed in: https://github.com/weprovide/valet-plus/commit/9e014e3996bcad0d831614d8ab3dca7b002e3d42#diff-6054343575864782d18cfb3f76e7ebcf waiting for release.

[2018-06-11 09:06] Neodork commented on #189
Valet-plus just release 1.0.17. Please try the new version.

[2018-06-11 09:10] Neodork commented on #133
Valet-plus just release 1.0.17. Please try [the new version](https://github.com/weprovide/valet-plus/releases/tag/1.0.17).

[2018-06-11 09:12] samgranger commented on #133
Closing this ticket, as mentioned by @Neodork, please give the new Valet+ release a spin! Please open a new ticket or join us on our Gitter channel if you're still encountering any issues.

[2018-06-11 09:12] #133 closed

[2018-06-11 09:13] samgranger commented on #189
As mentioned by @Neodork, 1.0.17 solves this issue.

[2018-06-11 09:13] #189 closed

[2018-06-11 09:15] samgranger commented on #185
This is quite odd, could you give 1.0.17 a try?

[2018-06-11 09:32] falko189 commented on #133
Hi Neodork,
thanks for this but I am still getting the same error :( `Fatal error: Uncaught Error: Call to undefined function apcu_fetch() in /Users/username/.composer/vendor/weprovide/valet-plus/server.php:37 Stack trace: #0 {main} thrown in /Users/username/.composer/vendor/weprovide/valet-plus/server.php on line 37` not sure what I did wrong

[2018-06-11 09:37] falko189 opened #190 "Call to undefined function apcu_fetch() Pecl"
Hi I have just installed the latest version and I am getting this
`
Fatal error: Uncaught Error: Call to undefined function apcu_fetch() in /Users/username/.composer/vendor/weprovide/valet-plus/server.php:37 Stack trace: #0 {main} thrown in /Users/username/.composer/vendor/weprovide/valet-plus/server.php on line 37`

List of commands run
![screen shot 2018-06-11 at 10 36 57](https://user-images.gi

[2018-06-11 09:45] FredericMartinez commented on #143
Thanks @lazyguru, `brew services restart php@7.1` works!

[2018-06-11 10:05] luukschakenraad commented on #133
I removed everything in `/usr/local/etc/php/` and ran `valet fix`, then `valet install`. After that, everything works.

When I try to switch PHP-versions, it now gives a geoip-error:

[code]

When I comment `extension="geoip.so"` in `/usr/local/etc/php/7.1/php.ini` and retry switching versions, I get the next error:

[code]

After running `rm -rf /usr/local/etc/php/* && valet fix && valet install`

[2018-06-11 10:50] Neodork commented on #190
@falko189 This is related to the PHP-FPM service not switching to your current php version. Please show us your current PHP-FPM services with: `ps -efw | grep php-fpm `

[2018-06-11 10:51] falko189 commented on #190
thanks for reply here the print
`ps -efw | grep php-fpm
  501  1288     1   0  4Jun18 ??         0:02.83 /usr/local/opt/php@7.1/sbin/php-fpm --nodaemonize
  501  1305     1   0  4Jun18 ??         0:02.78 /usr/local/opt/php/sbin/php-fpm --nodaemonize
  501  1456  1305   0  4Jun18 ??         0:00.07 /usr/local/opt/php/sbin/php-fpm --nodaemonize
  501  1458  1305   0  4Jun18 ??         0:00.06 /usr/l

[2018-06-11 10:57] Neodork commented on #190
The `/usr/local/opt/php/sbin/php-fpm` services are overriding your `/usr/local/opt/php@7.1/sbin/php-fpm` services. Your webserver is currently running on PHP 7.2 instead of PHP 7.1.

Make sure this:
[code]

only shows fpm-services which are related to the current linked PHP version:

[code]

You can kill services with their PID by doing `kill <pid>`. For your current running services that would be

[2018-06-11 11:03] falko189 commented on #190
WOW killing the service seems to have fixed the issue. Thanks.
Although I have a question I did run `valet use 7.2` and my php -v shows php 7.2 however the `ps -efw | grep php-fpm` still shows php@7.1 is this correct?

Thanks very much

[2018-06-11 11:06] Neodork commented on #190
That would be the same issue. I would suggest checking your path if any PHP binary paths are loaded before the brew paths.

When switching to PHP 7.2 the services should be:
[code]

Note that there is no php@{version} within these php-fpm services because PHP 7.2 is currently the brew default version.

[2018-06-11 11:10] Neodork commented on #133
@luukschakenraad Please open a new ticket so I can help you. This ticket has racked up too many comments and is addressing multiple issues.

[2018-06-11 11:14] Neodork commented on #139
Closing. Merged in Version 1.0.17.

[2018-06-11 11:14] #139 closed

[2018-06-11 11:16] luukschakenraad opened #191 "Switching PHP versions does not work in 1.0.17"
I removed everything in `/usr/local/etc/php/` and ran `valet fix`, then `valet install`. After that, everything works.

When I try to switch PHP-versions, it now gives a geoip-error:

[code]

When I comment `extension="geoip.so"` in `/usr/local/etc/php/7.1/php.ini` and retry switching versions, I get the next error:

[code]

After running `rm -rf /usr/local/etc/php/* && valet fix && valet install`

[2018-06-11 11:17] luukschakenraad commented on #133
@Neodork https://github.com/weprovide/valet-plus/issues/191

[2018-06-11 11:19] Neodork commented on #191
@luukschakenraad Thanks for creating a new ticket so we can help you.

[code]

This error usually occurs when the PECL configuration isn't set correctly. Please try to use `valet fix` or `brew update && brew upgrade`. And then show us the result of `php -v`

[2018-06-11 11:22] luukschakenraad commented on #191
@Neodork See the first line of my post. I already ran `valet fix`. It's a repeating issue:

`rm -rf /usr/local/etc/php/* && valet fix && valet install` => everything works
`valet use 7.0` => it breaks
`rm -rf /usr/local/etc/php/* && valet fix && valet install` => everything works
`valet use 7.0` => it breaks

[2018-06-11 11:31] luukschakenraad commented on #191
I've just updated my previous post to show you the full flow.

`cat ~/.pearrc`

[code]

[2018-06-11 11:37] Neodork commented on #191
Looks like the pear configuration for php@7.0 is does not exist (also 5.6, 7.0 and 7.2). Your only working version should be PHP@7.1. That's what valet-fix tells me:

[code]

Try reinstalling these `brew uninstall php@7.0 && brew install php@7.0`. You might also want to remove the config folder but you already mentioned that you removed all the config folders the OP.

[2018-06-11 11:49] falko189 commented on #190
Hi @Neodork I think we can close this off thanks.
I managed to get rid of the 7.1 installation and exported `export PATH="$(brew --prefix homebrew/php/php72)/bin:$PATH"` after killing the processes I have this so it should be all good
[code]

Daniele

[2018-06-11 12:02] luukschakenraad commented on #191
I've reinstalled PHP 7.2 and PHP 7.0 and installed PHP 5.6:

`brew uninstall php@7.0 && brew install php@7.0`
`brew install php@5.6`
`brew uninstall php@7.2 && brew install php@7.2`

Then `valet fix`:

[code]

Then:
`brew uninstall php@5.6 && brew install php@5.6`
`brew uninstall php@7.0 && brew install php@7.0`
`brew uninstall php@7.2 && brew install php@7.2`
`rm -rf /usr/local/etc/php/5.6/*.ini

[2018-06-11 12:02] samgranger commented on #168
Closing this issue - could you try our new 1.0.17 release & check if this solves your issue?

[2018-06-11 12:02] #168 closed

[2018-06-11 12:10] Neodork commented on #191
Looks like you're removing the .ini file after install. If you install a brew PHP version it will add the desired php.ini within the `/usr/local/etc/php/{version}` folder.

[code]

To:

[code]

[2018-06-11 12:18] luukschakenraad commented on #191
`rm -rf /usr/local/etc/php/5.6/`
`rm -rf /usr/local/etc/php/7.0/`
`rm -rf /usr/local/etc/php/7.1/`
`rm -rf /usr/local/etc/php/7.2/
`brew uninstall php@5.6 && brew install php@5.6`
`brew uninstall php@7.0 && brew install php@7.0`
`brew uninstall php@7.1 && brew install php@7.1`
`brew uninstall php@7.2 && brew install php@7.2`
`valet fix`
`valet install`

`php -v`

[code]

`valet use 7.0`

[code]

[2018-06-11 12:21] Neodork commented on #191
Show me the first 10 lines of `cat /usr/local/etc/php/7.1/php.ini`.

[2018-06-11 12:23] luukschakenraad commented on #191
`head -n 10 /usr/local/etc/php/7.1/php.ini`

[code]

`ls /usr/local/lib/php/pecl/20160303`

[code]

[2018-06-11 12:34] Neodork commented on #191
Oke weird, looks like geoip is enabled but not installed. Check `pecl list` to see installed modules my guess would be it shows no geoip so install it: `pecl install geoip`.

[2018-06-11 12:39] luukschakenraad commented on #191
`pecl list`

[code]

[2018-06-11 12:51] luukschakenraad commented on #191
`pecl uninstall geoip && valet fix && valet install` fixed the issue once, so I was able to switch from PHP 7.1 to 7.0 without problems. Switch back to anything else gives:

[code]

[2018-06-11 13:08] Neodork commented on #191
Looks like your PHP 5.6 version has the same issue, please remove and re-install geoip and check your php.ini when linked to PHP 5.6.

[2018-06-11 13:29] Neodork commented on #158
@NicolaLeonardi The new release has been release under version number 1.0.17 please check if this resolves your problems.

[2018-06-11 13:37] luukschakenraad commented on #191
Switching PHP-versions, getting errors, removing PECL-packages, force PHP to relink multiple times it now all seems to work. Thanks for the help.

[2018-06-11 15:45] Neodork commented on #191
@luukschakenraad Great! Sorry for the inconvenience the upgrading caused you. I will keep looking into making this less error prone for future valet-plus users. Appreciate the feedback you supplied.

[2018-06-11 15:49] Neodork commented on #190
@falko189 We consider this ticket as completed but will leave it open for a few more days so other users can read up on the php-fpm related issues. Thanks for bringing this error to out attention within the 1.0.17 release.

[2018-06-11 15:50] Neodork commented on #50
@wowcut @ashtonlance I intend to look into this feature once valet-plus is a bit more stable. You've not been forgotten!

[2018-06-11 20:44] robjstanley opened #192 "v1.0.17. "valet fix" does not seem to be working."
Trying to install valet-plus however running into some problems. Looking through other issues I tried using `valet fix` but no good, any thoughts on what could be the problem based on the output from `valet fix` and `valet install` below?:

[code]

[code]

[2018-06-11 21:20] robjstanley commented on #192
Finally resolved this by noticing the `/usr/local/etc/php/7.1/` directory was owned by root and `brew` was failing to install `php-fpm` as a result. After using `chown` and reinstalling `php@7.1` and rerunning `valet fix && valet install` my issue is now resolved.

[2018-06-11 21:20] #192 closed

[2018-06-12 01:28] GuySurname opened #193 "Can't use PHP5.6"
Just reinstalled Valet+ on a new machine after being off the tool for a while.

I can't switch to 5.6, it stops and attempts to link to it and then fails with `Unable to determine linked PHP`

[code]

From here, any attempts to relink via Valet or go back to 7.1 throw the same error. I have to relink manually using

[code]

But still can't switch back to 5.6. Haven't tried other versions, as I'm m

[2018-06-12 07:04] Neodork commented on #193
Try `valet fix` and look for the PECL config output. If is said it's not found you might want to upgrade your current installed PHP versions `brew update && brew upgrade`.

[2018-06-12 07:09] Neodork commented on #176
@iugo-robert Please try to install ioncube with valet-plus 1.0.17.

[2018-06-12 07:53] samgranger commented on #191
Closing this ticket, glad that you managed to get this issue resolved!

[2018-06-12 07:53] #191 closed

[2018-06-12 17:08] cagartner commented on #66
I'm experiencing this issue in Magento 1 admin, enabling web/seo/use_rewrites not solve this problem.

Any ideas or someone is experiencing this issue to?

Cheers

[2018-06-12 17:22] cagartner commented on #66
To solve in my case I needed to create a LocalValetDriver and clean `$_SERVER['SCRIPT_FILENAME']`

[code]

[2018-06-12 19:37] luukschakenraad commented on #191
I managed to get all PHP-versions to work, except PHP 7.2. Any tips?

`valet use 7.0`

[code]

`valet use 7.1`

[code]

 `valet use 7.2`

[code]

[2018-06-12 23:32] GuySurname commented on #193
@Neodork Thanks mate, it actually just started working after I stopped working on it and reset my machine for other reasons.

Glad to have Valet+ back

[2018-06-12 23:32] #193 closed

[2018-06-14 16:11] Neodork commented on #179
Alright guys so I looked into this. And it is as I mentioned in comment https://github.com/weprovide/valet-plus/issues/179#issuecomment-393829841 The .phar file has has a re-release. It seems all has been solved on the brew side:

https://github.com/wp-cli/wp-cli/issues/4816 <-- Issue in the WP-CLI queue.
https://github.com/Homebrew/homebrew-core/pull/28579#issuecomment-394058348 <-- Issue and sol

[2018-06-14 17:50] FredericMartinez commented on #179
PR #183 is ok.
👍

I fix my local valet installation by applying a patch with this PR.
[code]

[2018-06-15 23:25] jacobgraf opened #194 "Issues with mcrypt getting moved into php binaries?"
I installed Valet+ and was up and running with PHP 7.1. I needed to work on a legacy project so switched over to PHP 5.6 using `valet use 5.6`. Now, I'm stuck. I am getting the following error and from my research it looks like it's caused by `php56-mcrypt` being removed and now mcrypt is built into the brew php binaries. Is there a work-around?

`PHP Warning:  PHP Startup: Unable to load dynamic

[2018-06-16 18:16] MaxSouza commented on #190
If `kill <pid>` don't work, you can stop php version with `brew services stop php@7.1`

[2018-06-18 08:58] SanderAtom commented on #163
PR https://github.com/weprovide/valet-plus/pull/195 should fix this if that's the right solution.

[2018-06-18 12:08] Neodork commented on #194
@jacobgraf You probably have lingering ext-mcrypt.ini files within your `/usr/local/etc/php/7.1/conf.d` You need to remove those and any reference to it from `/usr/local/etc/php/7.1/php.ini`. See https://github.com/weprovide/valet-plus/issues/127#issuecomment-378914908 for further details.

[2018-06-18 12:45] luukschakenraad opened #196 "PHP 7.2 not working"
I managed to get all PHP-versions to work, except PHP 7.2. Any tips?

`valet use 7.0`

[code]

`valet use 7.1`

[code]

 `valet use 7.2`

[code]

All previous steps: https://github.com/weprovide/valet-plus/issues/191

[2018-06-18 13:30] Neodork commented on #196
Check for `/usr/local/etc/php/7.2/pear.conf`. And make sure your `~/.pearrc` does not overwrite the `php_ini` key.

[2018-06-18 13:32] luukschakenraad commented on #196
`cat /usr/local/etc/php/7.2/pear.conf`

[code]

`cat ~/.pearrc`

[code]

[2018-06-19 12:21] Neodork commented on #196
Looks like valet-plus is unable to determine the linked PHP when unlinking to 7.2. Could you show use the symlink of `/usr/local/bin/php` after switching (and failing).

[2018-06-19 12:55] luukschakenraad commented on #196
`php -v`

[code]

`ls -la /usr/local/bin/php`

[code]

`valet use 7.2`

[code]

`php -v`

[code]

`ls -la /usr/local/bin/php`

[code]

`ls /usr/local/Cellar/php*`

[code]

`brew unlink php@7.2 && brew link php@7.2`

[code]

`php -v`

[code]

`valet use 7.2`

[code]

`valet use 7.0`

[code]

`php -v`

[code]

`valet use 7.2`

[code]

[2018-06-19 13:00] SanderAtom commented on #163
Fixed in #195.

[2018-06-19 13:00] #163 closed

[2018-06-19 13:05] Neodork commented on #196
Not sure how in depth you're to debugging valet-plus. However could you check the following:

Within PhpFpm.php there is the following code somewhere near line 174:
[code]

Please comment out the if statement so the code looks like:

[code]

And then try linking to PHP 7.2.

[2018-06-19 13:22] luukschakenraad commented on #196
With the lines commented, it works as expected.

[code]

[code]

`brew list | grep php@7.2` indeed returns nothing, because it is the default:

`brew list | grep php`

[code]

`ls -l /usr/local/Cellar/php* `

[code]

[2018-06-20 10:44] agjmills opened #197 "Valet Plus installs mysql 8, incompatible with older version of Laravel"
As MySQL 8 is only supported by Laravel >= 5.5 (https://github.com/laravel/framework/pull/24038) and the HomeBrew 'mysql' package has now been upgraded to MySQL 8, I would recommend pinning the version of MySQL to 5.7

[2018-06-20 10:51] Neodork commented on #197
To add to this problem:

When upgrading and MySQL v8 enables itself it will overwrite the `ib_logfile0` and `ib_logfile1` within the `/usr/local/var/mysql` folder. Which makes MySQL 5.6 unable to start due to incompatible log files.

[2018-06-20 10:52] Neodork commented on #196
@luukschakenraad Very well I will look into improving that bit of code. Thanks for testing. Will get back to you asap.

[2018-06-20 10:52] agjmills commented on #197
I've created a PR for it (I think I've done it correctly but I'm happy to change it if it's wrong!) https://github.com/weprovide/valet-plus/pull/198

[2018-06-20 10:54] Neodork commented on #197
@agjmills LGTM have you tested it by removing all MySQL versions and running `valet install`? If you've I will give a go for this to be merged.

[2018-06-20 12:17] agjmills commented on #197
@Neodork I tried as you'd said and realised I'd missed a few bits and pieces.

I've rectified those and it works as expected now

[2018-06-20 13:58] anasred commented on #133
I restarted my machine. And everything worked 😅

[2018-06-21 10:29] samgranger commented on #197
Closing ticket since issue has been resolved.

[2018-06-21 10:29] #197 closed

[2018-06-21 10:30] samgranger commented on #194
Closing ticket due to no further response. Please follow @N
instructions if you still have this issue.

[2018-06-21 10:30] #194 closed

[2018-06-21 10:32] samgranger commented on #190
Closing ticket.

[2018-06-21 10:32] #190 closed

[2018-06-21 10:33] samgranger commented on #176
Closing ticket due to lack of response from @iugo-robert

[2018-06-21 10:33] #176 closed

[2018-06-21 10:33] samgranger commented on #158
Closing due to lack of response. New version should solve the issue @NicolaLeonardi

[2018-06-21 10:33] #158 closed

[2018-06-21 10:43] abbatis opened #199 "Can't remove subdomains"
I would expect something like `valet subdomain delete`

[2018-06-21 11:56] samgranger commented on #199
Seems like something we can implement quite easily.

[2018-06-21 14:29] juporag opened #200 "Brew was unable to install [mysql]"
Hi I have just installed the latest version and I am getting this

After, mysql not working
[code]

Thanks already

[2018-06-21 15:01] Neodork commented on #200
Hey there, I will have to look into MySQL 8 installing itself since that should be fixed. However the `/tmp/mysql.sock` not being found is due to MySQL not being able to start itself. I've mentioned the workaround in https://github.com/weprovide/valet-plus/issues/197#issuecomment-398707752.

[2018-06-21 15:17] Neodork commented on #200
@juporag Are you on version 1.0.18?

[2018-06-21 15:22] juporag commented on #200
Yes, version is  1.0.18

[2018-06-21 15:51] juporag commented on #200
Thanks!

With

It`s fine!

[2018-06-21 18:10] justinswelch commented on #50
+1 for configurable db credentials. I tried Valet Plus and liked it, but this was the sole issue that made me have to uninstall it. Hoping I can check back here to see if this happens so I can give it another spin.

[2018-06-21 21:18] NicolaLeonardi commented on #158
@samgranger Sorry for the late reply, my Mac had to be repaired due to a failure of the disk. With version >= 1.0.17 the problem is solved.

[2018-06-22 08:18] umarch06 commented on #157
@Neodork I followed this all but still it stops at `define('VALET_HOME_PATH', posix_getpwuid(fileowner(__FILE__))['dir'].'/.valet');` statement.

[2018-06-22 14:44] guarinogabriel opened #201 "PHP startup error on latest version"
Hi everyone,

I updated Valet to the latest version today, and unfortunately I am experiencing the following use that is not letting me run any valet command (not even `valet fix`):

[code]

I also have the following issue when I try to access a local project:
`Fatal error: Call to undefined function apcu_fetch() in /Users/gabriel/.composer/vendor/weprovide/valet-plus/server.php on line 37`

Could

[2018-06-26 08:30] MikeYV opened #203 "use dev.example.com as development url"
Hi, is it possible to use the url "dev.example.com" as development url without blocking all .com domains ?

[2018-06-26 12:03] umarch06 commented on #201
@guarinogabriel were you able to resolve the issue? Same started to happen to me when I run `valet ioncube on`

[2018-06-26 12:40] guarinogabriel commented on #201
@umarch06 - Not yet. I am experiencing multiple issues on the latest release, even:

In Brew.php line 274:
_Unable to determine linked PHP._

That is happening when I try to switch to any PHP version now.

[2018-06-26 13:35] umarch06 commented on #201
this is what happens to me even after unlinking php71

[code]

[2018-06-26 14:13] umarch06 commented on #201
This is how I got it working
[code]

updated the valet to latest version this way:
[code]

after this I installed each version of php which is I think mandatory for new Valet+ version:
[code]

**This was important for me**
I gave current user access to each folder after reading [this](https://github.com/weprovide/valet-plus/issues/192) issue in this way.

[code]

and in the end for fixing valet I

[2018-06-26 14:37] guarinogabriel commented on #201
@umarch06 - Thanks for your help!

I've been following the steps described by you, but I get the following error when I try to run `valet fix` or `valet install`:
`PHP Parse error:  syntax error, unexpected '?', expecting variable (T_VARIABLE) in /Users/gabriel/.composer/vendor/symfony/process/Process.php on line 140`

What are your thoughts?
Thanks again.
Gabriel

[2018-06-26 15:06] umarch06 commented on #201
did you require latest valet version? I believe you remove and download again the packages. Also which php version are you using?

[2018-06-26 15:12] wizonesolutions opened #204 "Disabling xdebug.remote_autostart doesn't work via "valet xdebug""
[code]

It seems like the `sed` command is failing. I'm not sure which `sed` it's trying to use.

[code]

^ this is GNU sed from Homebrew. If it is expecting `/usr/bin/sed`, then it ought to manually specify that path, I'd think.

[2018-06-26 15:21] umarch06 commented on #133
@anasred so after spending 1 hour I restarted and everything was good :-D

[2018-06-26 15:49] Igloczek opened #205 "`open` ignore default browser settings"
For unknown reason `valet open` always use Safari, no matter which browser I set as default in system settings.

I have this problem for at least few months, so it's not related to latest updates.

Valet+ 1.0.18
macOS High Sierra 10.13.5

[2018-06-26 18:01] guarinogabriel commented on #201
Hi @umarch06,

This is the output for `composer global require weprovide/valet-plus`:

[code]

Thanks for your help!

[2018-06-26 18:07] umarch06 commented on #201
You need to have php version greater than 7.0 as seen in error. Please install 7.1.3 or above. For 7.3 you can run this command `brew reinstall php@7.1`

[2018-06-26 18:13] guarinogabriel commented on #201
@umarch06 - After running that command, the composer command is still failing.

Here is the full output:

[code]

[2018-06-26 19:04] guarinogabriel commented on #201
Update:

I was able to check the PHP version that is reported by composer by running:
`/usr/bin/env php -v`

[code]

[2018-06-27 22:56] KilianPM opened #207 "Actual server is always 5.6"
Having an issue getting my php version to actually switch.

`valet use` links and completes without issue, and after switching versions `php -v` will be in line the expected output.

Composer will recognise the new version in terms of dependencies as well, but when I actually run a server it's always 5.6 and applications will break.

`phpinfo()` reports 5.6 regardless of what valet is set to.

Any

[2018-06-28 02:00] guarinogabriel opened #208 "MySQL not found on installation from scratch"
Hi everyone,

In addition to the errors previously reported, I reinstalled my Macbook and installed Valet Plus from scratch.

After experiencing no errors on the installation, the following error was returned on the console when I tried to access MySQL:
`mysql: command not found`

I tried by running `valet fix` and `valet install` but that didn't fix the issue.

I installed MySQL via multiple meth

[2018-06-28 03:37] LucasMaliszewski commented on #208
Yes. Mysql shows that it is being toggled via Valet commands. However, valet db has an error and my system doesn't seem to think mysql is installed; back to Mamp Pro I guess.

[2018-06-28 03:52] iugo-robert opened #209 "Broken after switching to php version 5.6"
## Switching to 5.6

13:16 $ valet use 5.6
Password:
[php@7.1] Unlinking
Unlinking /usr/local/Cellar/php@7.1/7.1.19... 25 symlinks removed

[libjpeg] Relinking
[php@5.6] Linking
Linking /usr/local/Cellar/php@5.6/5.6.36_1... 25 symlinks created

If you need to have this software first in your PATH instead consider running:
  echo 'export PATH="/usr/local/opt/php@5.6/bin:$PATH"' >> ~/.bash_profile

[2018-06-28 08:52] Neodork commented on #207
Please show us the output of your PATH variable. It is very likely that that you're importing a PHP-FPM binary directory before the BREW links directory.

[2018-06-28 08:54] Neodork commented on #208
Looking into this is the first thing on my list. It's related to the brew change of MySQL and in my opinion should valet-plus never use formula's without a suffixed version E.G: "mysql@5.7".

[2018-06-28 08:55] Neodork commented on #209
Please show me the output of `valet fix`.

[2018-06-28 22:44] KilianPM commented on #207
PATH is

`/Users/***/.npm-global/lib/node_modules/grunt-cli/bin:/Library/Frameworks/Python.framework/Versions/3.6/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:~/.composer/vendor/bin:/Users/***/.composer/vendor/bin:/Users/***/.gem/ruby/2.3.0/bin`

I've checked your linked issue and have tried to kill all existing 5.6 services, but they just start up again immediately

[code]

[2018-06-29 06:04] tkrause opened #213 "Valet Drivers do not support proxying"
Valet in it's current state doesn't support proxying a request to another port while preserving the headers. For any applications that need HTTPS and the correct host header this is just not possible in Valet and require manual configuration.

This is a huge deal breaker for SPAs that use hot loading like Nuxt.js as well as Swoole.

We've submitted a PR that seeks to solve this issue by allowing N

[2018-06-29 15:04] capitaladot commented on #209
+1

[2018-06-29 17:43] alexblueacorn commented on #74
Valet+ 1.0.18
I still have it.

[2018-06-29 21:36] capitaladot opened #214 "Valet Nginx FPM stuck on 5.6 despite "use 7.0", "use 7.1", "use 7.2""
```valet fix```
No change

```valet uninstall && valet install```
No change.

Confirmed it is the Valet nginx instance, as ```valet stop``` stops serving pages

[2018-06-29 21:44] capitaladot commented on #214
```valet fix```
No change

```valet uninstall && valet install```
No change.

Confirmed it is the Valet nginx instance, as ```valet stop``` stops serving pages

[2018-06-30 15:28] wizonesolutions commented on #204
For now, I have just done `brew remove gnu-sed; brew install gnu-sed` to reinstall it with the `g` prefix, which makes `sed` resolve to `/usr/bin/sed`. This works. Perhaps I will do a PR to enforce the proper path later.

[2018-06-30 16:44] OZZlE commented on #179
@Neodork I updated to 1.0.18 of valet-plus, still the same issue, I guess it's not requiring the correct wp brew package still:

    [wp-cli] Installing
Error: SHA256 mismatch
Expected: c1114450e647ca0c72afcbb6d02b577a55ec9915a510399579626c960d5dd2d2
Actual: 0cc7a95e68a2ef02fc423614806c29a8e76e4ac8c9b3e67d6673635d6eaea871
Archive: /Users/oskarmothander/Library/Caches/Homebrew/wp-cli-1.5.1.phar
To

[2018-06-30 16:51] OZZlE commented on #179
@Neodork ok it works after deleting it! :)

rm -rf /Users/oskarmothander/Library/Caches/Homebrew/wp-cli-1.5.1.phar
rm -rf /usr/local/bin/wp

[2018-06-30 16:51] #179 closed

[2018-06-30 20:00] JPry commented on #208
I ran into this issue when my computer needed to restart. Apparently I had at some point updated homebrew and caused `mysql` version 8 to be installed.

This perplexed me for quite a bit, but I was able to get my database working properly by swapping in `mariadb` in place of `mysql`. Here are the steps I took:

1. `brew uninstall mysql` - Remove mysql
1. `brew install mariadb` - Install mariadb in

[2018-07-02 14:14] capitaladot opened #215 "Version of symfony/process breaks 5.6"
[code]

Should be pegged to a version that doesn't require >= 7

[2018-07-02 14:15] capitaladot commented on #215
v3.4.12 seems to work

[2018-07-02 15:20] capitaladot opened #216 "DIR path breaks in 5.6"
[code]

[2018-07-02 16:51] capitaladot commented on #216
This seems to be resolving to an empty string: ```
if [[ -L $SOURCE ]]
then
    DIR=$(php -r "echo dirname(realpath('$SOURCE'));")
else
    DIR="$( cd "$( dirname "$SOURCE" )" && pwd )"
fi

# If we are in the global Composer "bin" directory, we need to bump our
# current directory up two, so that we will correctly proxy into the
# Valet CLI script which is written in PHP. Will use PHP to do it.
if

[2018-07-02 21:48] regularlabs opened #217 "Ability to disable redis, mailhog, rabbitmq and varnish"
Would love to see options to (temporarily) disable redis, mailhog, rabbitmq and varnish.
Starting and running these only use up time and memory when not always needed.

[2018-07-03 11:41] philbraun opened #218 "wildly different server speed"
Created 3 instances of the same WordPress site under valet+, all using the exact same process: copy all theme and plugin files, then migrating the database and media files using Migrate DB Pro from the original running under Local by Flywheel (Docker/VirtualBox).

First instance of the site is blazing fast, as expected from Valet+. The second and third sites though, both also an exact copy, are ab

[2018-07-03 12:48] Vinai opened #219 "Magento2 in production mode gives 404 Not Found for js-translation.json requests."
The `cli/drivers/Magento2ValetDriver.php` always delegates to `pub/static.php` even if the file exists (regardless of the deploy mode).
In production mode this causes a 404 Not Found response since no asset generation is triggered.

Currently the code looks like this:

[code]
So for `js-translation.json` files it always falls through to the inclusion of `pub/static.php`.

A solution that works for

[2018-07-03 13:06] Neodork commented on #215
I can confirm symfony/process v4 not being compatible with PHP 5.6 and thus breaking valet-plus.

[2018-07-03 19:08] guarinogabriel commented on #209
+1

[2018-07-04 09:39] samgranger commented on #219
Could you submit this as a PR?

[2018-07-04 10:17] Vinai commented on #219
Sure. Two things stopped me from doing so in the first place:

1. There are a bunch of open PRs so I'm not sure that the project is taking PRs
2. I might have missed another reason for not serving `js-translation.json` directly besides adding the no-cache header.

This works for me with 2.2.4 and 2.2.5 and I tested in developer and production mode, but I might be missing something.
Do you maybe ha

[2018-07-05 23:38] LucasMaliszewski commented on #56
I'm having the same issue with a little variation.  I run the command with the error.
`valet db create
PHP Warning:  mysqli::__construct(): (HY000/2002): No such file or directory in /Users/lucas/.composer/vendor/weprovide/valet-plus/cli/Valet/Mysql.php on line 172

Warning: mysqli::__construct(): (HY000/2002): No such file or directory in /Users/lucas/.composer/vendor/weprovide/valet-plus/cli/Val

[2018-07-06 07:43] alaa-almaliki commented on #216
I had the same thing, wrapping the `$SOURCE` by curly braces seems to fix the issue.
[code]

This occurs on php5.6 only which seems it can not read the source like in php7

[2018-07-07 21:51] michielgerritsen commented on #216
In my case this was caused by an segmentation fault in the `php -r` command. A reboot did fix it for me.

[2018-07-10 13:39] mhafizhasan commented on #209
+1

[2018-07-10 14:06] cagartner commented on #209
+1

[2018-07-10 14:34] cagartner commented on #215
Has a correction for this? Or I need to rollback the valet to 1.0.17?

[2018-07-10 16:39] cagartner commented on #209
I managed to make it work, in my case, first I needed to go back to 1.0.17 version of valet, because of this issue: #215,

After you rollback the version run `valet fix` and `valet install` to update your valet.

The main problem when you try to change the version is the owner of the folders in `/usr/local/etc/php/` the folders has been created with root owner and not the user #192 , so I used the

[2018-07-12 16:17] nathanjosiah commented on #157
@rafaelstz What did you do to get this fixed?

[2018-07-12 20:18] alaa-almaliki commented on #216
This is not very practical specially when you work on various  projects and need to frequently switch php versions

[2018-07-13 07:17] samgranger commented on #219
We are taking PR's - I am not aware of reasons for not serving js-translation.json directly - I'll try and get this feature added in the upcoming release.

[2018-07-13 08:34] agjmills opened #221 "phpRedisAdmin and friends"
I recently had to do some development using redis and found phpRedisAdmin very useful

I considered doing the work and opening a PR to include phpRedisAdmin with valet plus but I wanted to know other peoples thoughts on it before I started

You could class phpRedisAdmin as similar to MailHog - included as a service that is useful to aid development - but on the other side of the coin, where do you

[2018-07-13 11:14] samgranger commented on #218
I wouldn't call it normal - trying to figure out how we could debug your issue.

[2018-07-13 18:37] JosephMaxwell opened #224 "Xdebug is very slow"
I am using Valet+ to work on Magento 2 projects. As much as I have been liking the idea of Valet+ (and moving from Vagrant to Valet+), I am up against a problem that I am unsure of how to solve.

Valet+ with xdebug enabled is _very_ slow. It is slower than Vagrant without PHPStorm connected to xdebug (10-12 seconds to render a cached page). But, on Valet+, with PHPStorm connected to xdebug, it is

[2018-07-13 20:48] samgranger commented on #204
A PR would be great!

[2018-07-13 20:52] samgranger commented on #224
I have seen this on multiple occasions so it's not just your setup. Any help debugging this issue is more than welcome. What Magento caches do you have turned on/off by the way?

[2018-07-13 21:00] samgranger commented on #217
I agree that this would be a nice addition. For now, you can disable Redis for example by changing <true /> to <false /> in `~/Library/LaunchAgents/homebrew.mxcl.redis.plist` underneath `RunAtLoad`.

[2018-07-13 21:09] samgranger commented on #216
I'll try to reproduce this, thank you for supplying your solution @alaa-almaliki

[2018-07-13 21:14] samgranger commented on #200
Closing this ticket as it sounds like you managed to solve your issue. If you are still encountering problems, please let us know by opening a new ticket!

[2018-07-13 21:14] #200 closed

[2018-07-13 21:15] JosephMaxwell commented on #224
Hi Sam, thanks for your feedback. I'm glad to know that I am not alone here. I have spent quite a few hours looking into it with no success. Like the apcu issue, I'm sure it's something easy.

I have the `full_page` and `block_html` caches off for the above information.

My gut suspicion is that there is a bottleneck in port traffic. That said, PHP is running on a socket, which shouldn't have any

[2018-07-13 21:16] samgranger commented on #214
I know others have encountered this issue - restarting a machine completely usually solves this for me (only required once) but I think someone pinpointed it to `~/.valet/valet.sock` at one point.

Are you still encountering this? If so, I'd like to investigate this issue further.

[2018-07-13 21:23] samgranger commented on #208
Closing this issue since it should be fixed by https://github.com/weprovide/valet-plus/pull/198

[2018-07-13 21:23] #208 closed

[2018-07-13 21:32] samgranger commented on #207
I suspect this is related to #177

[2018-07-13 21:33] samgranger commented on #214
Closing this as I think it's related to #207 and #177

[2018-07-13 21:33] #214 closed

[2018-07-13 21:38] samgranger commented on #185
Closing this issue due to receiving no further updates. Please let us know if this is still an issue.

[2018-07-13 21:38] #185 closed

[2018-07-13 22:38] samgranger commented on #224
Could you possibly share your phpinfo() output?

Re: your last 2 points, I'm not 100% sure at the moment. Will need to investigate further.

[2018-07-14 00:21] JosephMaxwell commented on #224
I did some more investigation, comparing vagrant with valet plus.

Xdebug on: 30s (vagrant), 60+s (valet plus)
Xdebug off: 21s (vagrant), 22s (valet plus)

I am seeing that there is some horribly unoptimized code in the theme for this project, so that is contributing to the length of time.

Here is the phpinfo:
https://gist.github.com/JosephMaxwell/8cd6b766df9350f6aac9cfd4e60c57e8

[2018-07-14 01:09] samgranger commented on #224
Thanks for the additional info. Will continue to try and debug this issue.

[2018-07-14 02:40] samgranger commented on #219
Closing this ticket as we have added your PR to Valet+'s new 1.0.19 release! Thank you for your contribution.

[2018-07-14 02:40] #219 closed

[2018-07-14 02:41] samgranger commented on #216
Can you try our new 1.0.19 release to see if it solves this issue?

[2018-07-14 02:42] samgranger commented on #215
Closing this ticket as we have reverted the `symfony/process` v4 commit in Valet+'s new 1.0.19 release. Please upgrade! :)

[2018-07-14 02:42] #215 closed

[2018-07-14 02:43] samgranger commented on #213
Closing this ticket as we have added your PR to Valet+'s new 1.0.19 release! Thank you for your contribution.

[2018-07-14 02:43] #213 closed

[2018-07-14 02:44] samgranger commented on #209
Could you please try our new 1.0.19 release to see if this solves any of the above issues?

[2018-07-14 02:44] samgranger commented on #207
Could you try our new 1.0.19 release to see if it solves this issue?

[2018-07-14 02:47] samgranger commented on #205
I'm assuming the command might need to be ran under the current user. Will investigate this issue.

[2018-07-14 02:48] samgranger commented on #201
Could you try our new 1.0.19 release to see if it solves your issue?

[2018-07-14 02:49] samgranger commented on #196
Do you want me to look into this issue too @Neodork ?

[2018-07-14 02:50] samgranger commented on #177
Could you try our new 1.0.19 release to see if it solves this issue?

[2018-07-14 02:50] samgranger commented on #119
Closing this ticket as we have added this change to Valet+'s new 1.0.19 release!

[2018-07-14 02:50] #119 closed

[2018-07-14 02:51] samgranger commented on #77
Closing this ticket as we have added this functionality to 1.0.19. Documentation coming soon!

[2018-07-14 02:51] #77 closed

[2018-07-14 02:54] samgranger opened #225 "Server variable documentation"
Add documentation for https://github.com/weprovide/valet-plus/commit/5038391c26ef07b4d31976882d7710d66dd5c012

Taken from @MartinPeverelli

A quick example - `.env.valet`:

[code]

The idea is quite simple: the file will be read by the Valet Driver, and if the top level key matches the requested site, then the key-value pairs inside will be loaded as server environment variables.

In the example a

[2018-07-14 09:44] regularlabs commented on #217
Thanks, but that doesn't work.
It just overwrites the file with it set to `<true/>` again after doing a `valet start`.
(Yes, I first did a `valet stop`, then changed those plist files).

Also, there are only plist files for redis and mailhog. Not for rabbitmq and varnish.

Something like this would be awesome:
`
valet start --no-redis --no-mailhog --no-rabbitmq --no-varnish
`

[2018-07-16 08:09] SanderAtom commented on #224
Any difference turning `block_html` caching on as well?

[2018-07-16 13:21] samgranger commented on #214
Quick update, the new 1.0.19 version does an unlink before linking on switching PHP versions - hopefully, this will solve the issue.

[2018-07-16 14:36] JosephMaxwell commented on #224
@SanderAtom Thanks for checking. Yes, `block_html` helps a lot. That is because the call stack is much smaller due to the caching. If I am making changes to the block and have `block_html` on, I have to refresh that every time, which becomes the equivalent of leaving it off.

The issue seems to be that xdebug take 3x or longer to process a line of PHP rather than having it off. Is that normal?

My

[2018-07-16 20:34] alaa-almaliki commented on #216
Thanks @samgranger, sorry I was away from home for a couple of days and only came back today, it seems that the issue was because the xdebug enabled on PHPSTORM.  The issue happens when you are in a php 7 version, then switch to php 5.6. If you have the xdebug enabled on PHPSTORM then you will get segmentation fault or Bus error if you want to run php -r "echo 1;" and since you use the same method

[2018-07-16 22:55] lazyguru commented on #225
FYI, this also allows for some more advanced stuff like:

[code]

With the above, I can copy the same file into multiple installations and not have to updated it for the new host.  Even better is using a symlink to a master copy 😄

[2018-07-17 07:51] SanderAtom commented on #224
Are you listening for debug connections all the time, so is the button green in PhpStorm?
![image](https://user-images.githubusercontent.com/30903591/42766734-87fbc1e0-891b-11e8-85aa-35c36d411940.png)
That degrades the performance significantly.

[2018-07-17 07:54] samgranger commented on #224
Are you using the vagrant setup are you using? That way, I can maybe compare - possibly it's a different setting somewhere that might help.

[2018-07-17 15:07] jaap opened #227 "Zend Engine API warning when using Valet+"
When firing up valet I get the warning;

[code]

Running `valet xdebug on` tells me

[code]

Which makes me think my installation has got some legacy because of my former installation.

At this moment I'm not running into any issues, it just feels a bit dodgy. If anyone knows how to clean this up, help would be much appreciated.

[2018-07-18 09:48] samgranger commented on #227
Which PHP & Valet+ version are you running?

[2018-07-18 10:13] jaap commented on #227
Fixed! Php 7.1 was still loading `/usr/local/etc/php7.1/ext-xdebug.ini` which was probably a left-over of my previous journey...

Removing the configuration finnaly fixed everything, with Xdebug running smooth as butter with VS Code. Thanks anyway @samgranger .

[2018-07-18 10:13] #227 closed

[2018-07-18 13:21] capitaladot opened #228 "Nginx is not setting server name for Xdebug, breaking PhpStorm"
See: https://stackoverflow.com/questions/23344106/php-storm-debugging-creates-empty-server-definitions

Short story is, nginx ends up reporting a blank host name, which causes PhpStorm to fail to map the Php Server (its term) for Xdebug, and PhpStorm then creates a blank unusable, unsaveable entry, all of which breaks step debugging and the ability to use breakpoints.

It looks like we need a ngin

[2018-07-18 15:03] samgranger commented on #228
Indeed, we have solved this in some drivers, for example: https://github.com/weprovide/valet-plus/blob/master/cli/drivers/Magento2ValetDriver.php#L137

Solving it in NGINX would indeed be more elegant, I'll look into using `fastcgi_param SERVER_NAME $host;` - thanks for the link!

[2018-07-18 21:06] capitaladot opened #229 "valet share broken"
[code]

[2018-07-18 21:21] capitaladot commented on #229
Probably related to https://github.com/weprovide/valet-plus/issues/216
but it failed slightly differently

[2018-07-18 22:44] webfolkcreative opened #230 "Can only install one of: symfony/process"
I know there's been several topics opened for the symfony/process update because it has caused conflicts for people using php 5.6. Is there a ETA on when we can expect Valet+ to support symfony/process ~4?

Thanks!

Note: Conflict coming from laravel/installer.

[2018-07-19 01:06] capitaladot commented on #209
See related symfony/process error.

On Wed, Jul 18, 2018, 8:56 PM iugo-robert <notifications@github.com> wrote:

[2018-07-19 01:37] iugo-robert commented on #209
I tired removing valet with composer and reinstalled it. It now switches to php 5.6 ok.
[code]

However I'm getting a 502 Bad Gateway error. If I look in my nginx logs, its because the valet.sock file does not exist.
[code]

How do I fix this issue?

[2018-07-19 07:12] MikeYV commented on #203
I have found a solution.

Change domain to com ( valet domain com )
edit ~/.valet/dnsmasq.conf
 - Change: **.com** to **dev.example.com**

Restart valet

[2018-07-19 07:12] #203 closed

[2018-07-19 15:36] samgranger commented on #229
Can you check if `~/.composer/vendor/bin` is in your systems path? You can check this by running`echo $PATH` in terminal.

If this is not the case, please execute the following command and restart your terminal: `export PATH=$PATH:~/.composer/vendor/bin`

[2018-07-19 15:38] samgranger commented on #216
As mentioned in #229:

Can you check if ~/.composer/vendor/bin is in your systems path? You can check this by runningecho $PATH.

If this is not the case, please execute the following command and restart your terminal: export PATH=$PATH:~/.composer/vendor/bin

[2018-07-19 15:40] capitaladot commented on #229
Yeah, it is. It is the broken path variable. This works in 7.1 mode.

On Thu, Jul 19, 2018, 11:36 AM Sam Granger <notifications@github.com> wrote:

[2018-07-19 16:03] capitaladot commented on #216
Here's my path:

[code]

[2018-07-19 17:36] samgranger commented on #203
Glad you managed to find a solution!

[2018-07-20 19:48] SnowCommerceBrand opened #231 "Mysql not in path -bash: mysql: command not found"
After running clean install I found that mysql could not be found. I added Mysql as below. I found this as a issue when trying to use magerun2. I get the following error:

-bash: mysql: command not found

Seems like Brew didn't add mysql to the path. I have brew setup and in my path.
brew doctor
Your system is ready to brew.

My fix was this and it worked but not sure if Mysql should have been add

[2018-07-20 21:20] keenminded opened #232 "After today's Mac OSX update .test resolution stopped working."
Hello everyone,
Happy Friday!
After updating Mac OSX High Sierra to the latest version this morning, the .test local domain resolution stopped working. Is anyone else experiencing the same problem?
**Symptoms:** web browser just spins without connecting, cannot even connect to mailhog.test.
valet paths command is displaying the original configured path. Tried resetting it again, tried valet fix al

[2018-07-20 21:52] samgranger commented on #232
Upgrading my system now to try and duplicate this issue. For now, could you tell me the output when you run `brew services ls`? Is dnsmasq running? If so, can you try and configure a different extension instead of `.test` for now?

[2018-07-21 03:18] keenminded commented on #232
@samgranger Thank you for jumping in on this! My brew services list returns:
[code]
I am still unable to ping any of my local .test domains. Is there anything I need to check on?
I have restarted several times just to make sure. Nothing seems to take so far. No errors either, just times out. It's really bizarre since it was all working just this morning right before I ran the update.

[2018-07-21 03:40] keenminded commented on #232
@samgranger Thank you for pointing me in the right direction. In the end, it was a line in the dnsmasq configuration file pointing to a no-longer-existing user profile .config, which took effect after the reboot of the system, and therefore no longer worked. After removing the offending line and restarting all services everything seems back to normal. Thanks again for all the help!

[2018-07-21 03:40] #232 closed

[2018-07-21 23:41] samgranger commented on #232
Glad you managed to get this issue resolved & thank you for letting me know what the issue was/how it was resolved - hopefully nobody else will encounter it but if they do, now I know why!

[2018-07-21 23:51] samgranger commented on #230
I wasn't sure on how to solve this - still don't know the best way, the main thing is, is that I do not want to drop the 5.6 support - that has a bigger priority over conflicts with Laravel in my eyes. One solution I am contemplating is to clone the `symfony/process` package completely to `weprovide/valet-plus-process` for example. Does anyone have a more elegant solution for this issue? Because m